// Import Resets 
@import "base/reset";
// Import own variables.
@import "base/variables";

// Import Bootstrap 
@import "../bootstrap/bootstrap";

// we NEED it for glyphicons.
@import "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";

@import "layouts/roomify-travel-2-columns";

// Base Styles
@import "base/bootstrap-overrides";

@import "base/mixins";
@import "base/breakpoints";
@import "base/typography";
@import "base/blocks";
@import "base/languages";

// Import Components
@import "components/buttons";
@import "components/carousel";
@import "components/accordion";
@import "components/gallery";
@import "components/pagination";
@import "components/messages";
@import "components/chosen";
@import "components/datepicker";
@import "components/tabbed-content";
@import "components/popup-bottom";
@import "components/modal";
@import "components/comments";
@import "components/fieldset";
@import "components/hoverffect";

// Region Styles
@import "regions/body";
@import "regions/header";
@import "regions/content";
@import "regions/footer";
@import "regions/sidebar";

// Pages
@import "pages/listing";
@import "pages/booking";
@import "pages/contact";
@import "pages/checkout";
@import "pages/availability-search";
@import "pages/blog";
@import "pages/things-to-do";
@import "pages/location";
@import "pages/homepage";
@import "pages/area";
@import "pages/type";
@import "pages/tags";
@import "pages/conversation";
@import "pages/single-property";
