body.page-blog {
	.view-blog-elegant.view-display-id-panel_pane_1 {
		.views-row {
			display: inline-block;
			width: 100%;
			margin-bottom: 15px;
			padding-top: 15px;
			padding-bottom: 30px;
			border-bottom: 1px solid #ececec;
			.views-field-title-field {
        min-height: 87px;
        table {
          min-height: 87px;
          td {
            vertical-align: middle;
            font-size: 24px;
          }
        }
			}
			.views-field-field-featured-image,
			.views-field-created {
				margin-bottom: 15px;
			}
      .views-field-field-featured-image {
        margin-top: 15px;
      }
      .views-field-created-1 {
        display: inline-block;
        float: left;
        margin-right: 15px;
        background: $black;
        padding: 15px 10px;
        color: white;
        .day-blog {
          font-size: 32px;
          margin-bottom: 5px;
          text-align: center;
        }
      }
			.continue-reading {
				display: inline-block;
				width: 100%;
				text-align: right;
				a {
					text-decoration: underline;
				}
			}
		}
	}
	.panel_sl_right .panel-pane {
		@include panel-pane-theme();
	}
	.view-featured-properties.view-display-id-panel_pane_2 {
    .views-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid white;
      padding-bottom: 30px;
      position: relative;
      &.views-row-last {
        border: 0;
        padding-bottom: 0px;
      }
      .views-field-field-sp-featured-image {
        width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 6px;
      }
      .views-field-name {
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        width: 50%;
        float: right;
      }
      .views-field-field-sp-short-description {
        margin-top: 5px;
        width: 50%;
        float: right;
      }
    }
  }
}

.node-type-blog {
  .roomify-blog-icon {
    display: inline-block;
    float: left;
    font-size: 16px;
    width: 100%;
    .pane-title {
      display: inline-block;
      float: left;
      color: #5D5D5D;
      .glyphicon {
        margin-right: 8px;
        font-size: 16px;
        top: 3px;
      }
    }
    .pane-content {
      display: inline-block;
    }
    &.pane-node-field-blog-categories,
    &.pane-node-field-tags {
      .glyphicon {
        margin-right: 13px;
      }
    }
    &.pane-node-field-blog-area {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 15px 0px;
      border-top: 0;
      text-transform: uppercase;
      font-weight: 300;
      a {
        text-decoration: underline;
      }
      @media (max-width: $screen-xs) {
        width: 100%;
      }
      .glyphicon {
        color: #0C628F;
        margin-right: 10px;
        top: 5px;
      }
    }
    &.pane-node-field-blog-categories,
    &.pane-node-field-tags {
      width: 100%;
      margin-right: 0;
      font-weight: 300;
      text-transform: uppercase;
      .field-item.even,
      .field-item.odd {
        display: inline-block;
        float: left;
        margin-right: 5px;
        &:after {
          content: "-";
          margin-left: 5px;
        }
      }
      .field-item:last-child {
        &:after {
          content: "";
        }
      }
      .glyphicon {
        margin-right: 10px;
        top: 7px;
      }
    }
    &.pane-node-field-blog-categories {
      float: left;
      width: 100%;
      margin-top: 0px;
      padding: 15px 0px;
      display: inline-block;
    }
  }
  .field-name-field-featured-image {
    margin-bottom: 25px;
  }
  .field-name-body {
    margin: 25px 0;
    line-height: 1.8em;
  }
  .pane-addtoany-addtoany-button {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
  }
  .panel_sl_right {
    .panel-pane {
			@include panel-pane-theme();
		}
    .panel-pane {
      .pane-content {
        .views-row {
          .views-field-title-field {
            &:before {
              content: "•";
              margin-right: 5px;
              color: white;
              float: left;
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .pane-title {
      	@include h3();
      	.glyphicon {
      		display: none;
      	}
      }
    }
    .pane-blog-panel-pane-10,
    .pane-blog-panel-pane-4 {
      margin-bottom: 20px;
      @include panel-pane-theme();
      .pane-title {
        span {
          font-size: 22px;
          margin-right: 20px;
          margin-left: 10px;
        }
      }
      .view-display-id-panel_pane_10,
      .view-display-id-panel_pane_4 {
        .views-row {
          padding: 5px 15px;
          display: inline-block;
          width: 100%;
          a {
            font-weight: 400;
          }
        }
      }
    }
    .pane-featured-properties-panel-pane-1 {
      .view-featured-properties {
        @media (max-width: $screen-md) {
          max-width: 380px;
          margin: 0 auto;
        }
      }
    	.views-field-name {
		    text-transform: uppercase;
		    color: white !important;
		    font-weight: 600;
		    h4 {
		    	color: white;
		    }

    	}
    	.views-field-field-sp-short-description {
    		margin-top: 10px;
    	}
    	.slide__content {
    		margin: 0 auto;
    		display: table;
    		.views-field-name {
    			color: white;
    		}
    	}
    	.slick--view--featured-properties {
    		position: relative;
    	}
    	.slick-next.slick-arrow {
        background: url("../images/arrow_right.png") 0 50% no-repeat;
        background: url("../images/arrow_right.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0px;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        right: 12px;
      }
      .slick-prev.slick-arrow {
        background: url("../images/arrow_left.png") 0 50% no-repeat;
        background: url("../images/arrow_left.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0px;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        left: 12px;
      }
    }
  }
  .panel-content-bottom {
    .pane-blog-panel-pane-9 {
      display: inline-block;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 30px;
      padding: 20px;
	    background: white;
	    border: 1px solid #ececec;
	    border-radius: 2px;
      .pane-title {
        border-bottom: 1px solid #ececec;
    		padding-bottom: 15px;
    		margin-bottom: 25px;
    		.glyphicon {
    			display: none;
    		}
      }
      .pane-content {
      	margin-bottom: 25px;
      }
      .view-display-id-panel_pane_9 {
        position: relative;
        @media (max-width: $screen-md) {
          max-width: 380px;
          margin: 0 auto;
        }
      }
      .slick-slider {
        padding: 0 55px;
      }
      .slick-slide  {
        padding: 15px;
        border: 1px solid #ececec;
        background: #f8f8f8;
        margin-right: 15px;
        min-height: 360px;
        border-radius: 5px;
      }
      .views-field-name {
      	@include h4();
        text-transform: uppercase;
        padding-bottom: 15px;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 600;
        color: white;
        text-align: center;
        background: url("../images/line_under_name.png") bottom no-repeat;
      }
      .views-field-field-sp-featured-image {
        overflow: hidden;
        a {
        	display: block;
			    max-width: 380px;
			    margin: 0 auto;
			    overflow: hidden;
        }
      }
      .views-field-field-sp-short-description-et {
        text-align: center;
      }
      .slick-next.slick-arrow {
        background: url("../images/arrow_right.png") 0 50% no-repeat;
        background: url("../images/arrow_right.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0px;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        right: 12px;
      }
      .slick-prev.slick-arrow {
        background: url("../images/arrow_left.png") 0 50% no-repeat;
        background: url("../images/arrow_left.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0px;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        left: 12px;
      }
    }
  }
}