@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.roomify-user-menu {
  display: inline-block;
  float: right;
  text-indent: -9999999px;
  margin-right: 10px;
}
.roomify-user-menu a {
  background: url("../images/hamburger_menu.png") center center no-repeat;
  background: url("../images/hamburger_menu.svg") center center no-repeat, linear-gradient(transparent, transparent);
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  bottom: 5px;
}
.roomify-user-menu li ul {
  display: none;
  position: absolute;
  background: #FDFDFD;
  top: 75%;
  right: 10px;
  z-index: 999;
  min-width: 150px;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 8px;
}
@media (max-width: 480px) {
  .roomify-user-menu li ul {
    top: 100%;
  }
}
.roomify-user-menu li ul li {
  list-style: none;
}
.roomify-user-menu li ul li a {
  color: #333333;
}
body .back-to-site-link a {
  background: url("../images/homepage.png") no-repeat center center;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  text-indent: -999999px;
  margin-right: 10px;
}
#branding {
  border-bottom: 2px solid #f9f9f9;
  padding: 10px 20px 0 37px !important;
}
#branding a {
  color: white;
}
#branding .pane-title {
  margin: 0px;
}
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.status,
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.error,
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.warning {
  background: white;
  border: 0px !important;
  padding: 20px;
}
.adminimal-theme #branding div.breadcrumb {
  display: none;
}
.adminimal-theme #branding {
  overflow: visible;
  background: #202020 !important;
  box-shadow: none !important;
}
@media (min-width: 768px) {
  .adminimal-theme #navigation {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.adminimal-theme #navigation .tabs.primary {
  background: white;
  border-radius: 0px 0px 4px 4px;
}
.adminimal-theme #navigation .tabs.primary li:first-child {
  margin-left: 0 !important;
}
@media (min-width: 768px) {
  .adminimal-theme #navigation .tabs.primary li:first-child a {
    border-radius: 0px 0px 0px 4px;
  }
}
.adminimal-theme #navigation .tabs.primary li a {
  border-radius: 0;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .adminimal-theme #navigation .tabs.primary li a {
    background: white;
    border-right: 2px solid #e4e4e4;
    padding: 10px 18px;
  }
}
#console.roomify-admin-messages {
  padding: 40px 40px;
  margin-top: 0 !important;
  background: white;
}
body {
  padding-right: 0;
  -webkit-transition: 100ms all ease;
  -moz-transition: 100ms all ease;
  -ms-transition: 100ms all ease;
  -o-transition: 100ms all ease;
}
body #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 280px;
  width: 0;
  height: 100%;
  margin-right: -280px;
  overflow-y: auto;
  background: #000;
  overflow-x: hidden;
  font-weight: 400;
  -webkit-transition: 100ms all ease;
  -moz-transition: 100ms all ease;
  -ms-transition: 100ms all ease;
  -o-transition: 100ms all ease;
}
body #sidebar-wrapper #mini-panel-sidebar .panel-pane:last-child {
  border-bottom: none !important;
}
body #sidebar-wrapper a {
  font-weight: 400;
}
body #sidebar-wrapper .close-sidebar {
  border-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
body #sidebar-wrapper .close-sidebar:after {
  display: none;
}
body #sidebar-wrapper #close-sidebar-icon {
  background: url('../images/close.png') center center no-repeat;
  margin-right: 20px;
  margin-top: 15px;
  text-indent: -999999px;
  display: block;
  cursor: pointer;
  width: 20px;
  background-size: contain;
  float: right;
}
body .sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 10px 0;
}
body .sidebar-nav a {
  color: #fff;
}
body .sidebar-nav .panel-pane {
  display: inline-block;
  margin-bottom: 10px;
  width: 94%;
  padding-bottom: 30px;
  width: 300px;
}
body .sidebar-nav .panel-pane:after {
  content: "";
  width: 100px;
  text-align: center;
  height: 3px;
  border-radius: 50px;
  display: table;
  margin: 0 auto;
  background: #696969;
  margin-top: 35px;
}
body .sidebar-nav .panel-pane:last-child:after {
  display: none;
}
body .sidebar-nav .panel-pane .pane-title {
  border-bottom: 0;
  text-align: left;
  width: 100%;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
  font-size: 22px;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .pane-title {
  margin-bottom: 5px;
  font-size: 22px;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu .roomify-sidebar-image {
  width: 80px;
  height: 80px;
  margin-left: 25px;
  display: inline-block;
  float: left;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu .roomify-sidebar-image img {
  border-radius: 50%;
  max-width: 80px;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu .sidebar-profile-message {
  color: white;
  display: inline-block;
  float: left;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li {
  z-index: 999;
  width: 90%;
  display: block;
  margin-left: 5%;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li .glyphicon {
  float: left;
  display: inline-block;
  top: 14px;
  font-size: 15px;
  margin-right: 10px;
  z-index: 99;
  padding-left: 5px;
  color: #03A9F4;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li .glyphicon:hover {
  color: black;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li a {
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif !important;
  line-height: 1.4em;
  font-size: 16px;
  position: relative;
  display: block;
  padding: 10px 15px;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li a:hover {
  color: black;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li:hover {
  background: #eeeeee;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li:hover .glyphicon {
  color: black;
}
body .sidebar-nav .pane-roomify-sidebar-user-menu .roomify-sidebar-user-menu li:hover a {
  color: black;
}
body .sidebar-nav .pane-commerce-cart-cart {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
body .sidebar-nav .pane-commerce-cart-cart .pane-title {
  padding: 0;
}
body .sidebar-nav .pane-commerce-cart-cart .line-item-quantity {
  display: none;
}
body .sidebar-nav .pane-commerce-cart-cart .glyphicon {
  font-size: 18px;
  margin-right: 4px;
  color: #03A9F4;
  position: relative;
  right: 4px;
}
body .sidebar-nav .pane-commerce-cart-cart .table > tbody > tr > td {
  border-width: 0;
}
body .sidebar-nav .pane-commerce-cart-cart table tbody tr {
  background: rgba(255, 255, 255, 0.28);
  color: white;
}
body .sidebar-nav .pane-commerce-cart-cart table tbody tr td.views-field-commerce-total {
  vertical-align: middle;
  font-weight: 600;
}
body .sidebar-nav .pane-commerce-cart-cart table tbody tr:hover {
  background: white;
  color: black;
}
body .sidebar-nav .pane-commerce-cart-cart .view-commerce-cart-block .line-item-summary {
  font-size: 16px;
  color: white;
}
body .sidebar-nav .pane-commerce-cart-cart .view-commerce-cart-block .line-item-summary a:hover {
  text-decoration: underline;
}
body .sidebar-nav .pane-commerce-cart-cart .view-commerce-cart-block .line-item-summary .links.list-inline {
  margin-top: 20px;
  padding-bottom: 10px;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .pane-title {
  color: white;
  font-weight: 600;
  border-bottom: 0;
  font-size: 22px;
  width: 100%;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .pane-title .glyphicon {
  display: inline-block;
  font-size: 18px;
  margin-right: 6px;
  z-index: 99;
  color: #03A9F4;
  top: 2px;
  right: 4px;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .pane-title a {
  color: white;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .pane-title a:hover {
  text-decoration: underline;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row {
  display: inline-block;
  width: 100%;
  padding: 5px;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row .views-field-field-sp-featured-image {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row .views-field-field-sp-featured-image img {
  border: 2px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row .views-field-name {
  display: table;
  min-height: 60px;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row .views-field-name .field-content {
  display: table-row;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row .views-field-name .field-content a {
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  display: table-cell;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row:hover {
  background: #ffffff;
  color: black;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row:hover a {
  color: black;
}
body .sidebar-nav .pane-favorite-properties-sidebar-favorites .view-favorite-properties .views-row:hover img {
  border-color: white;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 {
  color: white;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .pane-title {
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 5px 15px;
  text-align: left;
  border-bottom: 0;
  width: 100%;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .pane-title .glyphicon {
  display: inline-block;
  font-size: 18px;
  margin-right: 6px;
  z-index: 99;
  color: #03A9F4;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .pane-title a {
  color: white;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .pane-title a:hover {
  text-decoration: underline;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .pane-content {
  padding-left: 10px;
  padding-right: 10px;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .view-dashboard-guest-stays .views-row {
  display: inline-block;
  width: 100%;
  padding: 5px;
  color: white;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .view-dashboard-guest-stays .views-row .views-field-line-item-title:before {
  content: "•";
  margin-right: 3px;
  color: #ffffff;
  float: left;
}
body .sidebar-nav .pane-dashboard-guest-stays-panel-pane-2 .view-dashboard-guest-stays .views-row .views-field-nothing {
  font-weight: 400;
  width: 100%;
  display: inline-block;
  text-align: right;
  text-decoration: underline;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 {
  margin-bottom: 15px;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .pane-title {
  margin-bottom: 5px;
  font-weight: 600;
  padding: 5px 15px;
  text-align: left;
  font-size: 22px;
  float: left;
  border: 0;
  color: white;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row {
  display: inline-block;
  width: 100%;
  padding: 5px;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-name {
  font-size: 20px;
  font-weight: 400;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-field-property-image {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-field-property-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-start-date,
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-end-date {
  color: #999999;
  font-size: 16px;
}
body .sidebar-nav .pane-my-stays-panel-pane-1 .view-my-stays .views-row .views-field-nothing {
  width: 100%;
  display: inline-block;
  margin: 15px auto;
}
body.toggled {
  padding-right: 350px;
  margin-left: -350px;
}
body.toggled #sidebar-wrapper {
  width: 350px;
  border-left: 2px solid #2B2B2B;
}
@media (max-width: 480px) {
  body #sidebar-wrapper {
    right: 300px;
    margin-right: -300px;
  }
  body #sidebar-wrapper .sidebar-nav {
    width: 300px;
  }
  body.toggled {
    padding-right: 300px;
    margin-left: -300px;
  }
  body.toggled #sidebar-wrapper {
    width: 300px;
  }
}
.roomify-sidebar-link a {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
}
.roomify-sidebar-user-icon {
  padding: 6px 10px;
}
.roomify-sidebar-user-icon span {
  color: white;
}
body.toggled #close-sidebar-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  cursor: pointer;
  -webkit-transition: 100ms all ease;
  -moz-transition: 100ms all ease;
  -ms-transition: 100ms all ease;
  -o-transition: 100ms all ease;
}
.region-sidebar-toggle-menu #accordian ul .label {
  font-size: 22px;
  font-weight: 400;
}
.region-sidebar-toggle-menu #accordian ul:first-child {
  margin-left: 0;
}
.region-sidebar-toggle-menu #accordian .properties {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .properties:before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 8px;
  background: url("../images/sidebar/properties.png") center center no-repeat;
  background: url("../images/sidebar/properties.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .dashboard {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .dashboard:before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -39px;
  top: 6px;
  background: url("../images/sidebar/dashboard.png") center center no-repeat;
  background: url("../images/sidebar/dashboard.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .bookings {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .bookings:before {
  content: '';
  width: 19px;
  height: 19px;
  display: inline-block;
  position: absolute;
  left: -32px;
  top: 10px;
  background: url("../images/sidebar/bookings.png") center center no-repeat;
  background: url("../images/sidebar/bookings.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .conversations {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .conversations:before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: -33px;
  top: 8px;
  background: url("../images/sidebar/conversations.png") center center no-repeat;
  background: url("../images/sidebar/conversations.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .content {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .content:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: -30px;
  top: 10px;
  background: url("../images/sidebar/content.png") center center no-repeat;
  background: url("../images/sidebar/content.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .settings {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .settings:before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: -33px;
  top: 8px;
  background: url("../images/sidebar/setting.png") center center no-repeat;
  background: url("../images/sidebar/setting.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
.region-sidebar-toggle-menu #accordian .accounts {
  position: relative;
}
.region-sidebar-toggle-menu #accordian .accounts:before {
  content: '';
  width: 23px;
  height: 23px;
  display: inline-block;
  position: absolute;
  left: -32px;
  top: 8px;
  background: url("../images/sidebar/accounts.png") center center no-repeat;
  background: url("../images/sidebar/accounts.svg") center center no-repeat, linear-gradient(transparent, transparent);
}
/* COMPONENTS */
#accordian {
  width: 100%;
  color: white;
}
#accordian ul.menu li {
  width: 100%;
  display: inline-block;
}
#accordian ul.menu li a {
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  display: inline-block;
}
#accordian ul.menu li.expanded:after {
  width: 17px;
  height: 17px;
  content: "";
  display: inline-block;
  background: url(../images/dropdown.png) center center no-repeat;
  background: url(../images/dropdown.svg) center center no-repeat, linear-gradient(transparent, transparent);
  position: absolute;
  right: 10px;
  top: 15px;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: 100ms transform ease;
  -moz-transition: 100ms transform ease;
  -ms-transition: 100ms transform ease;
  -o-transition: 100ms transform ease;
}
#accordian ul.menu li ul li a {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
}
#accordian .menu:first-child {
  padding: 10px 0px;
}
#accordian .menu:first-child > li {
  padding-left: 50px;
  position: relative;
}
#accordian .menu:first-child > li.active,
#accordian .menu:first-child > li:hover {
  background: #263238;
}
#accordian .menu:first-child > li.active > a,
#accordian .menu:first-child > li:hover > a {
  text-decoration: none;
}
#accordian .menu:first-child > li.active:before,
#accordian .menu:first-child > li:hover:before {
  width: 3px;
  height: 100%;
  content: "";
  display: inline-block;
  background: white;
  position: absolute;
  left: 0px;
  top: 0px;
}
#accordian .menu:first-child > li.active.expanded:after {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 100ms transform ease;
  -moz-transition: 100ms transform ease;
  -ms-transition: 100ms transform ease;
  -o-transition: 100ms transform ease;
}
#accordian .menu:first-child > li .menu {
  margin: 0.25em 0 0.75em 0em;
}
#accordian li {
  list-style: none;
}
#accordian ul ul {
  display: none;
}
#accordian ul ul li a {
  transition: all 0.15s;
}
.roomify-custom-page-title .site-name {
  color: white;
  font-weight: 400;
}
.roomify-custom-page-title .administration {
  color: white;
  font-size: 16px;
  position: relative;
  bottom: 3px;
  font-weight: 400;
}
.roomify-custom-page-title .page-title {
  font-size: 16px;
  position: relative;
  bottom: 3px;
  font-weight: 400;
}
.page-user-stays .view-my-stays .views-exposed-form {
  margin-bottom: 15px;
}
.page-user-stays .view-my-stays .views-exposed-form .form-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  padding: 10px;
  background-color: #8CD28F;
  text-align: center;
  color: white;
}
.page-user-stays .view-my-stays .views-exposed-form .form-item label {
  padding-left: 0px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
.page-user-stays .view-my-stays .views-exposed-form .form-item input {
  display: none;
}
.page-user-stays .view-my-stays .views-exposed-form .form-item.radio-checked {
  background: #4CAF50;
}
.page-user-stays .view-my-stays .view-content .views-field-name {
  font-size: 18px;
}
.page-user-stays .view-my-stays .view-content .views-field-nothing a {
  display: block;
}
.page-user-stays .view-my-stays .view-content .views-field-nothing span {
  display: block;
  margin-bottom: 5px;
}
.page-user-stays .view-my-stays .view-content .views-field-nothing span a {
  display: inline;
}
@media (max-width: 768px) {
  .page-user-stays .view-my-stays .view-content .views-field-field-property-image {
    display: none;
  }
}
.page-user-stays .view-my-stays .view-content .views-field-field-property-image img {
  border: 2px solid #CECECE;
  padding: 2px;
  background: #FDFDFD;
}
.cke_button_icon.cke_button__glyphicons_icon {
  background: url(../images/glyphicons.png) !important;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
#glyphicons {
  overflow: auto;
  text-align: center;
  height: 400px;
  width: 100%;
}
#glyphicons div {
  width: 140px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 5px;
}
#glyphicons a,
#glyphicons span {
  margin-bottom: .5em;
  text-align: center;
}
#glyphicons a {
  padding: .5em;
  display: block;
  float: left;
  width: 100px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  white-space: normal;
  text-align: center;
  height: 65px;
}
#glyphicons a:hover,
#glyphicons a.active {
  border: 1px solid #ddd;
  background: #eee;
}
#glyphicons span {
  display: block;
  width: 100%;
  font-size: 24px;
  color: #000;
}
body.adminimal-theme .cke_reset_all label {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
#better-messages-wrapper #better-messages-default {
  border: 5px solid rgba(29, 29, 29, 0.5);
  border-radius: 6px;
}
#better-messages-wrapper #better-messages-default .messages-label {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2px;
  padding: 10px 10px;
  text-transform: uppercase;
}
#better-messages-wrapper #better-messages-default .body {
  padding: 0;
}
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.status,
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.error,
#better-messages-wrapper #better-messages-default #messages-inner .content .messages.warning {
  background: white;
  border: 0 !important;
  padding: 20px;
}
#better-messages-wrapper #better-messages-default a.message-close {
  background: transparent url('../images/x.png') no-repeat;
  display: inline-block;
  width: 100%;
  text-align: right;
  height: 28px;
  padding-right: 20px;
  background-position: right 7px;
  color: #696969;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  background-size: 11px 11px;
  margin-right: 10px;
}
/* Custom font */
body,
body.adminimal-theme,
body.page-user,
body.page-admin {
  font: normal 16px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif !important;
  font-family: 'Lato', sans-serif !important;
}
body h1,
body.adminimal-theme h1,
body.page-user h1,
body.page-admin h1,
body h2,
body.adminimal-theme h2,
body.page-user h2,
body.page-admin h2,
body h3,
body.adminimal-theme h3,
body.page-user h3,
body.page-admin h3,
body h4,
body.adminimal-theme h4,
body.page-user h4,
body.page-admin h4,
body h5,
body.adminimal-theme h5,
body.page-user h5,
body.page-admin h5,
body h6,
body.adminimal-theme h6,
body.page-user h6,
body.page-admin h6,
body p,
body.adminimal-theme p,
body.page-user p,
body.page-admin p,
body a,
body.adminimal-theme a,
body.page-user a,
body.page-admin a,
body span,
body.adminimal-theme span,
body.page-user span,
body.page-admin span,
body strong,
body.adminimal-theme strong,
body.page-user strong,
body.page-admin strong {
  font-family: 'Lato', sans-serif !important;
}
body .glyphicon,
body.adminimal-theme .glyphicon,
body.page-user .glyphicon,
body.page-admin .glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
body table td,
body.adminimal-theme table td,
body.page-user table td,
body.page-admin table td,
body table th,
body.adminimal-theme table th,
body.page-user table th,
body.page-admin table th {
  font-family: 'Lato', sans-serif !important;
}
body .ui-widget table thead th,
body.adminimal-theme .ui-widget table thead th,
body.page-user .ui-widget table thead th,
body.page-admin .ui-widget table thead th {
  color: white;
}
body .ui-widget table thead th a,
body.adminimal-theme .ui-widget table thead th a,
body.page-user .ui-widget table thead th a,
body.page-admin .ui-widget table thead th a {
  color: white;
}
body.adminimal-skin-material .form-actions input {
  height: auto !important;
}
input[type="submit"],
input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
  margin: 2px;
}
a.cke_button {
  height: auto !important;
}
.ui-widget,
.ui-widget .ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font: normal 16px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
  font-family: 'Lato', sans-serif !important;
}
.ui-datepicker table {
  font-size: .8em;
}
body.adminimal-theme.adminimal-skin-material.style-checkboxes input[type=checkbox],
body.adminimal-theme.adminimal-skin-material.style-checkboxes input[type=radio] {
  width: 17px !important;
  height: 17px !important;
}
body.adminimal-theme,
body.page-user,
body.page-admin {
  background-color: #263238 !important;
}
body.adminimal-theme #page,
body.page-user #page,
body.page-admin #page {
  background: #263238 !important;
  padding: 40px;
}
body.adminimal-theme #page h1.page-title,
body.page-user #page h1.page-title,
body.page-admin #page h1.page-title {
  color: white;
  font-weight: 400;
  font-size: 32px;
}
body.adminimal-theme #page #content,
body.page-user #page #content,
body.page-admin #page #content {
  padding: 40px;
  border-radius: 4px;
  background: #f9f9f9 !important;
}
/*
body {
  font: 15px/1.6em 'Lato', sans-serif !important;
  #console.roomify-admin-messages,
  #page {
    margin-bottom: 40px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(235, 235, 235, 0.45);
  }
  #console.roomify-admin-messages {
    margin-top: 40px;
    padding: 0px;
    border: 0;
  }
  #page {
    .box-shadow(0px 24px 64px 5px rgba(179,179,179,0.45));
  }
  .roomify-primary-local-tasks {
    padding: 0;
    max-width: 1250px;
    display: table;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    margin-top: 40px;

    ul.tabs {
      background: @lightest-gray;
      padding: 0px;
      font-size: 16px;
      li {
        margin-right: 5px;
        background: #F5F5F5;
        border-radius: 5px 5px 0 0;
        position: relative;
        top: 2px;
        &.pushed-right-tab {
          float: right;
          margin-right: 0 !important;
        }
        a {
          color: @gray;
          min-width: 120px;
          text-align: center;
        }
        @media (max-width: @screen-sm) {
          width: 100%;
          text-align: center;
          display: flex;
          a {
            width: 100%;
          }
        }
        &:first-child {
          &.active {
            a {
              left: -2px;
              position: relative;
            }
          }
        }
        &.active {
          border-width: 0px !important;
          background: white;
          outline: none;
          a {
            color: @blue;
            font-weight: 700;
            outline: none;
            border-radius: 5px 5px 0px 0px;
            border: 2px solid rgba(235, 235, 235, 0.45);
            border-bottom: 0px;
            z-index: 10;
            .box-shadow(0px 0px 0px rgb(0,0,0))
          }
        }
      }
    }
  }
  #content-wrapper {
    max-width: @screen-lg;
    margin: 0 auto;
  }
  &.in-maintenance #content {
    width: auto !important;
  }
}
*/
fieldset {
  border-top: 3px solid #0074BD !important;
  box-shadow: none !important;
}
fieldset legend {
  background: none !important;
}
/* Override bat modal close button styling. */
.page-admin-bat #modalContent .ctools-modal-content .modal-content {
  min-height: inherit !important;
}
.page-admin-bat #modalContent .ctools-modal-content a.close {
  background: none;
  padding-left: 0;
}
.page-admin-bat #modalContent .ctools-modal-content a.close img {
  display: block;
}
.page-admin-bat div#modalContent div.ctools-modal-content {
  min-width: 500px !important;
  width: auto !important;
  height: auto !important;
  min-height: auto !important;
  overflow: hidden;
}
.page-admin-bat div#modalContent div.ctools-modal-content.roomify-accommodations-booking-form {
  overflow-y: scroll;
}
.roomify-administration-title a {
  color: white;
}
.roomify-administration-title span {
  font-size: 20px;
  margin: 0 5px;
}
.roomify-administration-title span:before {
  position: relative;
  bottom: 2px;
}
.manualcrop-thumblist .manualcrop-style-thumb {
  width: 100%;
  display: inline-block;
  margin: 5px 0;
}
.manualcrop-thumblist .manualcrop-style-thumb .manualcrop-style-thumb-label {
  margin-bottom: 10px;
}
.manualcrop-thumblist .manualcrop-style-thumb img {
  float: left;
}
.property-gallery-text {
  display: none;
}
.property-gallery-show-text {
  max-width: 200px;
  padding: 6px 0px;
  border-radius: 3px;
  margin-top: 4px;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background: #4d8f46;
  transition: all, 0.3s;
  cursor: pointer;
}
.property-gallery-show-text:hover {
  background: #4d8f46;
  opacity: 0.9;
}
.footable-row-detail-inner {
  background: whitesmoke;
  border-bottom: 1px solid #555555;
}
.footable-row-detail-inner .footable-row-detail-row {
  margin: 8px 2%;
  display: inline-block;
  width: 100%;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  font-family: 'footable' !important;
}
@media (max-width: 768px) {
  .exposed-filters .form-item {
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .password-strength {
    margin-bottom: 30px;
  }
  .exposed-filters .form-select {
    display: inline-block;
    width: 95% !important;
  }
  .password-field.form-text,
  .password-confirm.form-text {
    max-width: 320px;
  }
}
.page-admin-people-profiles .view-profiles .views-field-guest-image img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #0074BD;
}
#roomify-integrations-form .message {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
#roomify-integrations-form a {
  text-decoration: none;
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input {
  width: 24% !important;
  background: #f7f7f7;
  float: left;
  display: inline-block;
  margin-right: 3%;
  background-repeat: no-repeat !important;
  background-size: 200px 300px !important;
  text-align: left;
  margin-top: 15px;
  border: 2px solid #ECECEC;
  padding: 15px;
  font-size: 20px;
  padding-top: 345px;
  text-align: center;
  background-position-x: 50% !important;
  background-position-y: 20px !important;
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input:hover {
  background: white;
  background-position-x: 50%;
  background-position-y: 20px;
  -webkit-transition: 100ms background ease;
  -moz-transition: 100ms background ease;
  -ms-transition: 100ms background ease;
  -o-transition: 100ms background ease;
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-multi-property {
  background-image: url('../images/agency.png') !important;
}
@media (max-width: 992px) {
  .page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-multi-property {
    background-image: none !important;
  }
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-b-and-b {
  background-image: url('../images/locanda.png') !important;
}
@media (max-width: 992px) {
  .page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-b-and-b {
    background-image: none !important;
  }
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-vacation-rental {
  background-image: url('../images/single.png') !important;
}
@media (max-width: 992px) {
  .page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input#edit-vacation-rental {
    background-image: none !important;
  }
}
.page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input[type="submit"]:disabled {
  opacity: 0.3 !important;
}
@media (max-width: 992px) {
  .page-admin-bat-config-example-content #roomify-accommodation-example-content-manage-form input {
    text-indent: 15px;
    height: auto;
    font-size: 18px;
    padding-top: 15px;
    width: 80% !important;
  }
}
#references-dialog-page .view-customer-profiles td {
  cursor: pointer;
}
