// Footer Styles

.roomify-footer {
  background: $dark-gray;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  color: #f8f8f8;
  .footer-social-icons {
    @include clearfix;
    margin: 0 auto 20px auto;
    max-width: 260px;

    .rrssb-buttons li {
      float: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
      line-height: 1;

      a {
        display: inline-block;
        height: 32px;
        width: 32px;
        padding: 0;
        margin: 0;
        line-height: 32px;
        @include border-radius(100px);
        background: white;

        .rrssb-icon svg,
        .rrssb-icon svg path,
        .rrssb-icon svg polygon {
          fill: #000;
        }

        .rrssb-text {
          display: none;
        }
      }
    }
  }

  .pane-roomify-social-profiles-roomify-social-profiles {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    .pane-content {
      display: inline-block;
      margin: 0 auto;
      .rsp-social-icon {
        list-style: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 3px;
        margin: 6px;
        &:hover {
          opacity: 0.86;
        }
        svg {
          width: 15px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  .rsp-social-icon {
  	background: white;
	}
	.rsp-social-icon svg {
  	fill: #15262f;
	}
}
