header.roomify-header {
  margin-bottom: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  .container:first-child {
    @media (min-width: $screen-sm) {
      padding-left: 0;;
      padding-right: 0;
    }
  }
  .navbar-header {
    width: 100%;
    display: table;
    margin: 0 auto;
    min-height: 60px;
  }
  // MAIN MENU
  .roomify-site-menu {
    position: relative;
    .inner {
      padding-left: 0;
    }
    .navbar-toggle {
      display: block;
      border: 0;
      background: transparent;
      top: 3px;
      position: relative;
      float: left;
      @media (max-width: $screen-xs-max) {
        top: 0;
      }
    }
  }

  // NAME & LOGO
  .roomify-site-name {
    margin-top: 2px;
    a.name {
      text-align: center;
      display: inline-block;
      font-size: 24px;
      margin-top: 5px;
      width: 100%;
      font-weight: 500;
    }
    a.logo {
      display: table;
      margin: 8px auto;
      max-height: 60px;
      @media (max-width: $screen-xs) {
        max-width: 150px;
        img {
          width: 100%;
        }
      }
    }
  }
  // USER MENU
  .roomify-user-menu  {
    position: relative;
    .roomify-sidebar-link { //Sidebar Link
      padding: 0;
      a {
        width: 30px;
        height: 30px;
        display: inline-block;
        width: 100%;
        position: relative;
        @media (min-width: $screen-sm) {
          position: relative;
        }
        svg {
          height: 28px;
          width: 28px;
          right: 0;
          position: absolute;
        }
      }
      @include breakpoint(xs) {
        margin: 0 0 30px 0;
      }
    }
    .inner {
      padding-right: 0;
    }
  }
}

.roomify-language-switcher {
  position: relative;
  display: inline-block;
  width: 100%;
  background: rgba(16, 16, 16, 0.96);
  .language-switcher-locale-session,
  .language-switcher-locale-url {
    right: 15px;
    z-index: 15;
    display: inline-block;
    position: relative;
    top: 8px;
    text-align: right;
    width: 100%;
    li {
      display: inline-block;
      float: right;
      margin-left: 15px;
      a {
        color: #FFFFFF;
        img {
          float: left;
          margin-right: 5px;
          margin-top: 9px;
        }
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}
