/* The Overlay (background) */
.roomify-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1001; /* Sit on top */
  left: 0;
  top: 0;
  display: none;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.92); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  opacity: 0;

  @include transition(200ms opacity ease-in-out);
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-bottom: 40px;
    @media (max-width: $screen-xs) {
      top: 5%;
    }
    a {
      padding: 15px 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      line-height: 1.2em;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
      @media (max-width: $screen-xs) {
        font-size: 26px;
      }
      &:hover,
      &:focus {
        color: #f1f1f1;
      }
    }
    .menu {
      li {
        &:hover,
        &:focus {
          background: transparent;
        }
        .dropdown-menu {
          max-width: 360px;
          margin: 0 auto;
          left: 0;
          right: 0;
          border-radius: 0;
          background: rgba(0, 0, 0, 0.90);
          border: 2px solid #1d1d1d;
          li a {
            font-size: 22px;
            text-align: center;
            padding: 8px;
          }
        }
        .active > a,
        .active > a:hover,
        .active > a:focus {
          background-color: transparent;
        }
        a {
          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }
    }
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 46px;
    color: #fff;
  }
  @media screen and (max-height: 450px) {
    a {
      font-size: 20px;
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
