// Theme Colors
$green: #8FB98B;
$red: #C50000;
$light-blue: #2180B6;
$blue: #006699;
$dark-gray: #15262f;


// Social Colors
$social-txt:         #fff    !default;
$social-email:       #0a88ff !default;
$social-facebook:    #306199 !default;
$social-tumblr:      #32506d !default;
$social-linkedin:    #007bb6 !default;
$social-twitter:     #26c4f1 !default;
$social-googleplus:  #e93f2e !default;
$social-reddit:      #8bbbe3 !default;
$social-youtube:     #df1c31 !default;
$social-pinterest:   #b81621 !default;
$social-pocket:      #ed4054 !default;
$social-github:      #444    !default;
$social-instagram:   #517fa4 !default;
$social-hackernews:  #ff6600 !default;
$social-delicious:   #0B79E5 !default;
$social-vk:          #4d71a9 !default;