// Typography styles
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)");
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$font-family-base:  'Lato', sans-serif;
// Open Sans
$open-sans: 'Open Sans', sans-serif;

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #F1F1F1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759B;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

// Body Font

body,
.ui-widget {
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 26px;
  color: #3D3935;
  .range-slider .ui-slider-range {
    background: #fff;
  }
} 

strong {
  font-family: $font-family-base;
  font-weight: bold;
}

// Headings

// General Header Styles

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: 400;
}

// Content Headings

h1 {
  line-height: 1.1;
  font-family: $font-family-base;
  @media (max-width: $screen-xs) {
    line-height: 1.26;
  }
}

h2 {
  margin-bottom: 20px;  
  line-height: 0.93;
}

h3 {
  margin-bottom: 20px;
}


// Paragraph styles

p {
  margin-bottom: 14px;
  line-height: 1.8;
}

// General styles

img {

  &.alignleft {
    float: left;
    margin: 0 20px 20px 0;
  }

  &.alignright {
    float: right;
    margin: 0 0 20px 20px;
  }
}

// Links

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

}


blockquote {
  border-left: 5px solid grey;
}


// Content List styles
.entry-content {

  h1 {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;  
    line-height: 1.6;
  }

  hr {
    margin-top: 40px;
    border-top: 1px solid #cfc9b5;
    margin-bottom: 40px;
  }

  ul {
    margin: 0 0 30px 20px;

    li {
      list-style-type: square;
      margin-bottom: 8px;
      line-height: 1.4;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
      
  }

  ol {
    margin: 0 0 30px 20px;
    
    li {
      list-style-type: decimal;
      margin-bottom: 8px;
      line-height: 1.4;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.page-header {
  padding-bottom: 10px;
  margin: 30px 0;
  border-bottom: 0;
}
