.page-admin-bat-properties {
  .view-properties {
    .view-header {
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;
      .button {
        .btn();
      }
      a {
        padding-left: 32px;
        background: #0074bd url("../images/plus_white.png") no-repeat 6px 12px;
        background-size: 20px;
      }
    }
    .views-exposed-form {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      label {
        padding-bottom: 14px;
      }
      .form-item-name {
        input {
          height: 32px;
        }
      }
    }
  }
}

.view-display-id-dashboard_properties {
  .view-header {
    margin-bottom: 20px;
    text-align: right;
  }
}
.pane-properties-dashboard-properties {
  .view-display-id-dashboard_properties {
    a {
      color: #405467;
    }
    td.views-field-name {
      height: 70px;
      .property-image {
        display: inline-block;
        float: left;
        max-width: 70px;
        margin-right: 10px;
        position: relative;
        left: -5px;
        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
      .property-name {
        display: inline-block;
        margin-top: 25px;
        font-size: 18px;
      }
    }
    td.views-field {
      &.views-field-edit-unit {
        width: 40px;
        a {
          background: url("../images/edit.png") no-repeat right 50% bottom 20px;
          background-size: 28px 28px;
          display: inline-block;
          padding: 30px 1em 0 1em;
          font-size: 14px;
        }
      }
      &.views-field-nothing {
        width: 40px;
        a {
          background: url("../images/availability.png") no-repeat right 50% bottom 20px;
          background-size: 28px 28px;
          display: inline-block;
          padding: 30px 1em 0 1em;
          font-size: 14px;
        }
      }
      &.views-field-nothing-1 {
        width: 40px;
        a {
          background: url("../images/pricing.png") no-repeat right 50% bottom 20px;
          background-size: 28px 28px;
          display: inline-block;
          padding: 30px 1em 0 1em;
          font-size: 14px;
        }
      }
    }
    tr.status-0 {
      td.views-field {
        &.views-field-edit-unit a {
          background-image: url("../images/edit-gray.png");
        }
        &.views-field-nothing a {
          background-image: url("../images/availability-gray.png")
        }
        &.views-field-nothing-1 a {
          background-image: url("../images/pricing-gray.png");
        }
      }
    }
  }
}
.dragdropfile-processed .dragdropfile-table-wrapper {
  height: auto;
  box-shadow: none;
  background-color: transparent;
}