.page-admin-bat-config-property {
  .view-property-types {
    .view-header a {
      float: left;
      position: relative;
      top: -15px;
      padding-left: 32px;
      background: #0074bd url("../images/plus_white.png") no-repeat 6px 12px;
      background-size: 20px;
      border-radius: 4px;
      border-bottom: 2px solid #397AA7;
      color: #ffffff;
      font-size: 20px;
      background-color: #3498db;
      padding: 12px 18px 12px 38px;
      text-decoration: none;
      &:hover {
        background-color: #1ea4f7;
        text-decoration: none;
      }
    }
    .view-content {
      margin-top: 20px;
    }
  }
}
