body.adminimal-skin-material {
  table {
    thead {
      tr th {
        background: rgba(52,73,94,.94) !important;
        color: #ECF0F1;
        border-bottom: 2px solid #ddd;
        &.views-align-left {
          text-align: left;
        }
        &.views-align-right {
          text-align: right;
        }
        a {
          color: white !important;
          text-decoration: underline;
        }
      }
    }
  }
  table.table,
  table.views-table {
    border: 1px solid rgba(221,221,221,.78) !important;
    thead {
      tr th {
        background: rgba(52,73,94,.94) !important;
        color: #ECF0F1;
        border-bottom: 2px solid #ddd;
        padding: 8px;
        line-height: 1.42857143;
        font-weight: 600;
        a {
          color: white !important;
          text-decoration: underline;
        }
      }
    }
    tbody tr.odd td{
      background: #f9f9f9;
    }
    tbody tr td {
      padding: 8px;
      vertical-align: middle;
      line-height: 1.42857143;
      border-top: 1px solid #ddd;
    }
  }
}

.footable-row-detail-inner {
  width: 100%;
  .footable-row-detail-name:empty {
    display: none;
  }
}

#views-form-entityforms-autofields-table {
  table {
    .views-field-changed,
    .views-field-label-1,
    .views-field-field-contact-more-informations,
    .views-field-field-booking-request {
      display: none;
    }
  }
}
