.page-node-edit.node-type-landing-page .field-type-paragraphs .field-group-accordion-item,
.page-node-add-landing-page .field-type-paragraphs .field-group-accordion-item {
  height: auto !important;
}
.page-node-edit.node-type-landing-page .colorpicker,
.page-node-add-landing-page .colorpicker {
  z-index: 100;
}

/* NO PADDING ON IMAGES ON 1 COL ROW */
.node-type-landing-page .one-column-with-image-item .agency-1-column-row .paragraphs-items.paragraphs-items-field-first-column {
  padding: 0px;
}

.node-type-landing-page .one-column-with-image-item {
  display: flex;
}
/* MARGIN ON TEXT CTA IN 1 COL ROW */
@media screen and (min-width: 768px) {
  .node-type-landing-page .agency-1-column-row.not-edge-to-edge .field-name-field-cta-text {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* NOT EDGE TO EDGE STYLE */
.node-type-landing-page .main-container {
  padding: 0px;
}
.node-type-landing-page .agency-1-column-row.not-edge-to-edge,
.node-type-landing-page .agency-2-columns-row.not-edge-to-edge,
.node-type-landing-page .agency-3-columns-row.not-edge-to-edge,
.node-type-landing-page .agency-4-columns-row.not-edge-to-edge {
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  width: -moz-available;
  display: -webkit-box;
}
.node-type-landing-page .not-edge-to-edge .content {
  width: 100%;
}

/* REMOVE ROW MARGIN FOR SMALL SCREENS */
@media screen and (max-width: 768px) {
  .node-type-landing-page .agency-1-column-row.not-edge-to-edge,
  .node-type-landing-page .agency-2-columns-row.not-edge-to-edge,
  .node-type-landing-page .agency-3-columns-row.not-edge-to-edge,
  .node-type-landing-page .agency-4-columns-row.not-edge-to-edge {
    margin-left: 0;
    margin-right: 0;
  }
}
.node-type-landing-page .footer {
  margin-top: 0px;
}

/* ROW TITLE */
.node-type-landing-page .field-name-field-cta-row-title {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

/* GENERAL THEME TO ROW ELEMENTS */
.node-type-landing-page .agency-1-column-row,
.node-type-landing-page .agency-2-columns-row,
.node-type-landing-page .agency-3-columns-row,
.node-type-landing-page .agency-4-columns-row {
  display: inline-block;
  width: 100%;
}
.node-type-landing-page .agency-1-column-row .paragraphs-items,
.node-type-landing-page .agency-2-columns-row .paragraphs-items,
.node-type-landing-page .agency-3-columns-row .paragraphs-items,
.node-type-landing-page .agency-4-columns-row .paragraphs-items {
  width: 100%;
  padding: 15px;
  float: left;
}

/* REDUCE WHITE SPACE BETWEEN ROWS */
.node-type-landing-page .agency-1-column-row,
.node-type-landing-page .agency-2-columns-row,
.node-type-landing-page .agency-3-columns-row,
.node-type-landing-page .agency-4-columns-row {
  display: flex;
}
.node-type-landing-page .agency-1-column-row .content,
.node-type-landing-page .agency-2-columns-row .content,
.node-type-landing-page .agency-3-columns-row .content,
.node-type-landing-page .agency-4-columns-row .content {
  width: 100%;
}

/* CENTER ALL IMAGES ON COLS */
.node-type-landing-page .agency-1-column-row .paragraphs-items .entity-paragraphs-item img,
.node-type-landing-page .agency-2-columns-row .paragraphs-items .entity-paragraphs-item img,
.node-type-landing-page .agency-3-columns-row .paragraphs-items .entity-paragraphs-item img,
.node-type-landing-page .agency-4-columns-row .paragraphs-items .entity-paragraphs-item img {
  display: table;
  margin: 0 auto;
}

.node-type-landing-page .agency-1-column-row .paragraphs-items .entity-paragraphs-item,
.node-type-landing-page .agency-2-columns-row .paragraphs-items .entity-paragraphs-item,
.node-type-landing-page .agency-3-columns-row .paragraphs-items .entity-paragraphs-item,
.node-type-landing-page .agency-4-columns-row .paragraphs-items .entity-paragraphs-item {
  display: table;
  margin: 0 auto;
  max-width: 100%;
}

/* ALLOWS ALIGNMENT OF TEXT CTA */
.node-type-landing-page .agency-1-column-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-text,
.node-type-landing-page .agency-2-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-text,
.node-type-landing-page .agency-3-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-text,
.node-type-landing-page .agency-4-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-text {
  display: block;
}

/* ELEMENT TITLE */
.node-type-landing-page .field-name-field-cta-title,
.node-type-landing-page .field-name-field-cta-link {
  font-size: 20px;
  margin: 10px 0px;
}

/* IMAGES AND TEXT */
.node-type-landing-page .paragraphs-item-image-and-text .field-name-field-cta-image,
.node-type-landing-page .paragraphs-item-linked-image-and-text .field-name-field-cta-image {
  margin: 10px 0px 10px 0px;
}
.node-type-landing-page .one-column-with-image-item .paragraphs-item-image-and-text .field-name-field-cta-image,
.node-type-landing-page .one-column-with-image-item .paragraphs-item-linked-image-and-text .field-name-field-cta-image {
  margin: 0px;
}

/* COLUMNS ROW LAYOUT */
@media screen and (min-width: 768px) {
  /* 2 COLUMNS */
  .node-type-landing-page .agency-2-columns-row .paragraphs-items {
    width: 50%;
  }
  /* 3 COLUMNS */
  .node-type-landing-page .agency-3-columns-row .paragraphs-items {
    width: 50%;
  }
  /* 4 COLUMNS */
  .node-type-landing-page .agency-4-columns-row .paragraphs-items {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  /* 3 COLUMNS */
  .node-type-landing-page .agency-3-columns-row .paragraphs-items {
    width: 33.33333333%;
  }
  /* 4 COLUMNS */
  .node-type-landing-page .agency-4-columns-row .paragraphs-items {
    width: 25%;
  }
}

/* SLIDESHOW */

.node-type-landing-page .agency-1-column-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-slideshow,
.node-type-landing-page .agency-2-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-slideshow,
.node-type-landing-page .agency-3-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-slideshow,
.node-type-landing-page .agency-4-columns-row .paragraphs-items .entity-paragraphs-item.paragraphs-item-slideshow {
  display: inline-block;
  width: 100%;
}

.node-type-landing-page .one-column-with-image-item .agency-1-column-row.not-edge-to-edge,
.node-type-landing-page .one-column-with-image-item .agency-2-columns-row.not-edge-to-edge,
.node-type-landing-page .one-column-with-image-item .agency-3-columns-row.not-edge-to-edge,
.node-type-landing-page .one-column-with-image-item .agency-4-columns-row.not-edge-to-edge {
  margin-left: 0;
  margin-right: 0px;
  width: 100%;
}

.node-type-landing-page .agency-1-column-row .paragraphs-items .paragraphs-item-slideshow img,
.node-type-landing-page .agency-2-columns-row .paragraphs-items .paragraphs-item-slideshow img,
.node-type-landing-page .agency-3-columns-row .paragraphs-items .paragraphs-item-slideshow img,
.node-type-landing-page .agency-4-columns-row .paragraphs-items .paragraphs-item-slideshow img {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.node-type-landing-page .one-column-with-image-item .agency-1-column-row .paragraphs-items.paragraphs-items-field-first-column .entity-paragraphs-item {
  display: block;
  width: 100%;
}
.node-type-landing-page .paragraphs-item-slideshow .slideshow-info {
  display: none;
}
.node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info {
  position: relative;
  display: inline-block;
  z-index: 10;
  bottom: 15px;
  width: 90%;
  margin-left: 5%;
}

.node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info-text {
  position: absolute;
  bottom: 22px;
  text-align: left;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

.node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info-title {
  font-size: 22px;
}

.node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info-description {
  font-size: 14px;
}

.node-type-landing-page .paragraphs-item-video {
  display: inline-block;
  width: 100%;
}
.node-type-landing-page .paragraphs-item-video .player {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.node-type-landing-page .paragraphs-item-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info {
    bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .node-type-landing-page .paragraphs-item-slideshow .slick-active .slideshow-info-description {
    font-size: 10px;
  }
}
