/* HEADER */
body header.roomify-header { background-color: #16262e; }
body header.roomify-header { border-color: #060a0c; }

/* FOOTER */
body footer.roomify-footer { background-color: #16262f; }

/* SITE NAME - LINKS HEADER/FOOTER */
body header.roomify-header a.name,
body footer.roomify-footer a { color: #ffffff; }

/* USER ICON */
.roomify-sidebar-menu-toggle svg { fill: #ffffff; }
/* HAMBURGER MENU */
body header.roomify-header .navbar-toggle .icon-bar {
  background: #ffffff;
}
/* SVG FOOTER */
.roomify-footer .rsp-social-icon svg {
  fill: #16262e;
}

/* ON HOVER LINKS HEADER/FOOTER */
body header.roomify-header a.name:hover,
body footer.roomify-footer a:hover { color: #ffbc05; }

body footer.roomify-footer .rsp-social-icon { background: #ffffff; }

.roomify-footer svg:hover,
/* USER ICON */
.roomify-sidebar-menu-toggle svg:hover { fill: #ffbc05; }
/* HAMBURGER MENU */
body header.roomify-header .navbar-toggle:hover .icon-bar {
  background: #ffbc05;
}

/* TEXT HEADER/FOOTER */
body footer.roomify-footer { color: #f9f9f9; }


/* PRIMARY COLOR */
.page-header,
.pane-roomify-listing-availability-search-block-roomify-property-search,
.pane-locanda-availability-search,
.pane-roomify-listing-availability-search-block-roomify-listing-search,
#sliding-popup.sliding-popup-bottom,
.pane-roomify-listing-availability-search-block-roomify-property-search .start-date input,
.pane-roomify-listing-availability-search-block-roomify-property-search .end-date input,
.pane-locanda-availability-search .start-date input,
.pane-locanda-availability-search .end-date input,
.pane-roomify-listing-availability-search-block-roomify-listing-search .start-date input,
.pane-roomify-listing-availability-search-block-roomify-listing-search .end-date input,
.pane-roomify-listing-availability-search-block-roomify-property-search .form-item-location select,
.pane-roomify-listing-availability-search-block-roomify-property-search .form-item-group-size select,
.pane-locanda-availability-search .form-item-location select,
.pane-locanda-availability-search .form-item-group-size select,
.pane-roomify-listing-availability-search-block-roomify-listing-search .form-item-location select,
.pane-roomify-listing-availability-search-block-roomify-listing-search .form-item-group-size select,
.pane-property-location,
.pane-roomify-property-field-sp-policies,
.pane-roomify-property-field-sp-amenities,
.pane-featured-properties-panel-pane-3 .views-field-starting-price,
.page-checkout fieldset.panel-default legend.panel-heading,
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .pane-current-search-properties#availability-search-facet .pane-title,
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .panel-pane.pane-block#availability-search-facet .pane-title,
.pane-search-api-sorts-search-sorts .search-api-sorts li svg,
body.page-blog .view-blog-elegant.view-display-id-panel_pane_1 .views-row .views-field-created-1,
.node-type-blog .panel_sl_right .panel-pane,
.node-type-blog .panel_sl_right .pane-blog-panel-pane-10,
.node-type-blog .panel_sl_right .pane-blog-panel-pane-4,
body.page-things-to-do .panel_sl_right .panel-pane,
.node-type-activity .panel_sl_right .panel-pane,
body.node-type-homepage .pane-node-field-homepage-main-text,
body.node-type-homepage .panel-content-footer .pane-blog-elegant-panel-pane-2 .views-row .views-field-created-1,
.node-type-homepage .pane-featured-properties-panel-pane-3 .views-field-starting-price,
.page-room-type #bat-type-search-availability-form,
.page-room-type #bat-type-search-availability-form .start-date input,
.page-room-type #bat-type-search-availability-form .end-date input,
.page-room-type #bat-type-search-availability-form .form-item-group-size select {
	background-color: #16262e;
}
#property-bat,
#property-bat-activity-facets-availability .form-wrapper input, #property-bat-activity-facets-availability .form-wrapper select, #property-bat-activity-facets-availability .form-wrapper .form-control,
#roomify-property-search-block-form .form-wrapper input,
#roomify-property-search-block-form .form-wrapper select,
#roomify-property-search-block-form .form-wrapper .form-control,
#property-bat-facets-availability .form-wrapper input,
#property-bat-facets-availability .form-wrapper select,
#property-bat-facets-availability .form-wrapper .form-control
#property-bat-activity-facets-availability .form-wrapper input.form-text::-webkit-input-placeholder, #property-bat-activity-facets-availability .form-wrapper select.form-text::-webkit-input-placeholder, #property-bat-activity-facets-availability .form-wrapper .form-control.form-text::-webkit-input-placeholder,
#roomify-property-search-block-form .form-wrapper input.form-text::-webkit-input-placeholder,
#roomify-property-search-block-form .form-wrapper select.form-text::-webkit-input-placeholder,
#roomify-property-search-block-form .form-wrapper .form-control.form-text::-webkit-input-placeholder,
#property-bat-facets-availability .form-wrapper input.form-text::-webkit-input-placeholder,
#property-bat-facets-availability .form-wrapper select.form-text::-webkit-input-placeholder,
#property-bat-facets-availability .form-wrapper .form-control.form-text::-webkit-input-placeholder,
#property-bat-activity-facets-availability .form-wrapper input.form-text::-moz-placeholder, #property-bat-activity-facets-availability .form-wrapper select.form-text::-moz-placeholder, #property-bat-activity-facets-availability .form-wrapper .form-control.form-text::-moz-placeholder,
#roomify-property-search-block-form .form-wrapper input.form-text::-moz-placeholder,
#roomify-property-search-block-form .form-wrapper select.form-text::-moz-placeholder,
#roomify-property-search-block-form .form-wrapper .form-control.form-text::-moz-placeholder,
#property-bat-facets-availability .form-wrapper input.form-text::-moz-placeholder,
#property-bat-facets-availability .form-wrapper select.form-text::-moz-placeholder,
#property-bat-facets-availability .form-wrapper .form-control.form-text::-moz-placeholder,
#property-bat-activity-facets-availability .form-wrapper input.form-text:-moz-placeholder, #property-bat-activity-facets-availability .form-wrapper select.form-text:-moz-placeholder, #property-bat-activity-facets-availability .form-wrapper .form-control.form-text:-moz-placeholder,
#roomify-property-search-block-form .form-wrapper input.form-text:-moz-placeholder,
#roomify-property-search-block-form .form-wrapper select.form-text:-moz-placeholder,
#roomify-property-search-block-form .form-wrapper .form-control.form-text:-moz-placeholder,
#property-bat-facets-availability .form-wrapper input.form-text:-moz-placeholder,
#property-bat-facets-availability .form-wrapper select.form-text:-moz-placeholder,
#property-bat-facets-availability .form-wrapper .form-control.form-text:-moz-placeholder,
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .pane-current-search-properties .pane-title,
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .panel-pane.pane-block .pane-title,
#ui-datepicker-div td .ui-state-active,
#ui-datepicker-div td .ui-state-hover,
#ui-datepicker-div.ui-datepicker th,
.collapse-element-link,
.pane-roomify-listing-availability-search-block-roomify-property-search .listing-base-price button,
.pane-roomify-listing-availability-search-block-roomify-property-search .locanda-availability-search-submit button,
.pane-roomify-listing-availability-search-block-roomify-property-search .listing-availability-search-submit button,
.pane-locanda-availability-search .listing-base-price button,
.pane-locanda-availability-search .locanda-availability-search-submit button,
.pane-locanda-availability-search .listing-availability-search-submit button,
.pane-roomify-listing-availability-search-block-roomify-listing-search .listing-base-price button,
.pane-roomify-listing-availability-search-block-roomify-listing-search .locanda-availability-search-submit button,
.pane-roomify-listing-availability-search-block-roomify-listing-search .listing-availability-search-submit button,
.pane-views-panes.pane-property-elegant-panel-pane-3 .view-property-elegant .views-row .views-field-name a,
.page-availability-search .view-display-id-panel_pane_1 .views-row .views-field-field-sp-area .glyphicon,
.page-availability-search .view-display-id-panel_pane_1 .views-row .views-field-field-sp-area .pane-roomify-property-flag-favorites-link .flag-favorites a::before, .pane-roomify-property-flag-favorites-link .flag-favorites .page-availability-search .view-display-id-panel_pane_1 .views-row .views-field-field-sp-area a::before
.node-type-activity .panel_sl_right .pane-location-panel-pane-2 .pane-content a,
body.node-type-homepage .pane-roomify-listing-availability-search-block-roomify-property-search form#property-bat-facets-availability .form-wrapper .search-availability-submit button {
  color: #16262e;
}
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .pane-current-search-properties#availability-search-facet .pane-title:after,
.page-availability-search .panel-sl-left-content-wrapper .panel_sl_left .panel-pane.pane-block#availability-search-facet .pane-title:after {
	border-color: #16262e transparent transparent transparent;
}
