.page-taxonomy-area {
  header {
    position: relative;
    z-index: 90;
    margin-bottom: 0;
  }
  .main-container {
    padding-top: 0;
    position: relative;
    padding-bottom: 75px;
  }
  .tabs--primary.nav {
    position: relative;
    z-index: 98;
  }
  .bootstrap-one-column {
    position: relative;
    top: 30px;
    margin-bottom: 150px;
  }
  .content-row {
    margin: 0;
    width: 100%;
    max-width: 100%;
    #main-content {
      padding: 0;
    }
  }
  .page-header {
    display: none;
  }
  .pane-term-name {
    .pane-content {
      position: relative;
      z-index: 99;
      text-align: center;
      width: 100%;
      padding: 20px;
      color: white;
      background: rgb(21, 38, 47);
      font-size: 26px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 0;
      @include h2();
      margin-bottom: 0;
      @media (max-width: $screen-sm) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }
  .view-roomify-slideshow-paragraph img {
    width: 100%;
  }
  .slideshow-info {
    display: none;
  }
  .slide__content {
    position: relative;
  }
  .unslick,
  .slick-active .slide__content {
    position: relative;
    .slideshow-info {
      width: 100%;
      margin-left: 0;
      display: inline-block;
      .slideshow-info-text {
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.3);
        text-align: center;
        padding: 40px;
        color: white;
        @media (max-width: $screen-sm) {
          padding: 20px;
        }
        .slideshow-info-title {
          font-size: 22px;
          @media (max-width: $screen-xs) {
            font-size: 16px;
          }
        }
        
        .slideshow-info-description {
          font-size: 16px;
          color: #999;
          font-style: italic;
          @media (max-width: $screen-xs) {
            display: none;
          }
        }
      }
    }
  }
  .slick__arrow {
    button:before {
    color: #232323;
    font-size: 4.25rem;
    }
  }
  .pane-roomify-listing-availability-search-block-roomify-property-search {
    position: absolute;
    top: 280px;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    @media (max-width: $screen-sm-min) {
      width: 100%;
      margin-left: 0;
    }
    background: rgba(0, 0, 0, 0.55);
    padding: 25px 0 10px 0;

    @media (min-width: $screen-lg) {
      top: 360px;
    }
    .search-availability-submit {
      margin-top: 0 !important;
    }
    .form-wrapper .control-label {
      display: none !important;
    }
    @media (max-width: $screen-sm) {
      position: relative;
      top: 0;
      margin-bottom: 40px;
      padding: 0 20px;
      background: none;
    }
    .bat-date-range {
      @media (min-width: $screen-sm) {
        margin-left: 12% !important;
      }
    }
  }
  .pane-taxonomy-term-field-area-slideshow {
    margin-bottom: 50px;
  }
  .field-name-field-area-title-description,
  .field-name-field-area-title-blog-posts,
  .field-name-field-title-featured-properties {
    @include h2();
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .field-name-field-area-description-subtitle,
  .field-name-field-area-description-blog-post,
  .field-name-field-desc-featured-properities {
    @include h3();
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-style: italic;
  }
  .pane-blog-panel-pane-11 {
    // LATEST AREA BLOGPOST
    .view-display-id-panel_pane_11 {
      .view-content {
        margin: 0 auto;
      }
      .masonry-item {
        border-radius: 5px;
        width: 320px;
        margin: 25px 0;
        .views-field-field-featured-image {
          img {
            border-radius: 5px 5px 0 0;
          }
        }
        .views-field-body {
          background-color: white;
          color: #565656;
          font-weight: 300;
          padding: 0 10px 10px 10px;
          border-radius: 0 0 5px 5px;
          .field-content {
            padding-top: 10px;
            .views-more-link {
              display: block;
              margin-top: 10px;
            }
          }
        }
        .views-field-title-field { 
          background: white;
          padding: 10px;
          border-bottom: 1px solid #E0E0E0;
          a {
            color: #565656;
            font-size: 16px;
            font-weight: 700;
          }
        }
        &:hover {
          opacity: .86;
        }
        @include transition(250ms opacity ease-out);
      }
    }
  }
  .field-name-field-field-link-to-area-blog {
    text-align: right;
    margin: 25px 0;
    a {
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      line-height: 1.42857;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-width: 0 1px 4px 1px;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 6px 10px 4px;
      @include button-variant(#FFFFFF, #127BA3, #158CBA);
    }
  }
  .pane-taxonomy-term-description-field {
    padding: 20px;
    margin-bottom: 35px;
  }
  .panel_sl_content {
    float: none;
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
  }
  #property-bat-facets-availability {
    @media (max-width: $screen-md)  and (min-width: $screen-sm) {
      .bat-date-range {
        width: 70%;
      }
      select#edit-group-size {
        width: 65%;
        margin-left: 29%;
      }
    }
  }
  .pane-areas-panel-pane-1 {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;
    span:empty {
      display: none;
    }
    &:empty {
      display: none;
    }
    .property-featured-image {
      display: table;
      margin: 0 auto;
    }
    .area-property {
      @include make-sm-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      display: table;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    .property-details {
      font-size: 16px;
      text-transform: uppercase;
      text-align: left;
      max-width: 380px;
      display: table;
      margin: 0 auto;
      color: white;
      background: #0b1418;
      width: 100%;
      border-radius: 0 0 2px 2px;
      padding: 8px 10px;
      position: relative;
    }
    table {
      width: 100%;
    }
    .property-name {
      vertical-align: middle;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .listing-base-price {
      text-align: right;
    }
    .starting-price {
      text-align: right;
      vertical-align: middle;
      font-weight: 400;
      text-align: center;
      text-transform: lowercase;
      .starting-from {
        font-size: 10px;
        display: inline-block;
        font-style: italic;
      }
      .price {
        color: #0cea11;
      }
    }
  }
}


.page-areas {
  .region-content,
  .bootstrap-one-column,
  .bootstrap-one-column .panel-content-wrapper {
    @include make-row();
  }
  .bootstrap-one-column .panel-content-top {
    @include make-xs-column(12);
  }
  .view-areas-travel.view-display-id-all_areas_view {
    .views-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 25px;
      padding: 25px 0;
      border-bottom: 2px solid #e7e7e7;
      &.views-row-first {
        padding-top: 0;
      }
      .views-field-name {
        @include make-xs-column(12);
        @include make-md-column(5, 5);
      }
      .area-short-description {
        font-size: 16px;
      }
      .views-field-field-area-featured-image {
        display: inline-block;
        float: left;
        margin-bottom: 15px;
        @include make-xs-column(12);
        @include make-md-column(7, 5);
        img {
          border-radius: 2px;
          width: 100%;
        }
      }
      .views-field-area-properties {
        display: inline-block;
        margin-top: 35px;
        margin-bottom: 20px;
        width: 100%;
        span:empty {
          display: none;
        }
        &:empty {
          display: none;
        }
        .property-featured-image {
          display: table;
          margin: 0 auto;
        }
        .area-property {
          @include make-sm-column(12);
          @include make-sm-column(6);
          @include make-md-column(3);
          display: table;
          margin: 0 auto;
          margin-bottom: 25px;
        }
        .property-details {
          font-size: 16px;
          text-transform: uppercase;
          text-align: left;
          max-width: 380px;
          display: table;
          margin: 0 auto;
          color: white;
          background: #0b1418;
          width: 100%;
          border-radius: 0 0 2px 2px;
          padding: 8px 10px;
          position: relative;
        }
        table {
          width: 100%;
        }
        .property-name {
          vertical-align: middle;
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .listing-base-price {
          text-align: right;
        }
        .starting-price {
          text-align: right;
          vertical-align: middle;
          font-weight: 400;
          text-align: center;
          text-transform: lowercase;
          .starting-from {
            font-size: 10px;
            display: inline-block;
            font-style: italic;
            width: 100%;
          }
          .price {
            display:inline-block;
            width: 100%;
            color: #0cea11;
          }
        }
      }
      .views-field-nothing {
        display: inline-block;
        width: 100%;
        margin-top: 25px;
        text-align: right;
      }
      .area-blog-posts {

        .views-row {
          display: inline-block;
          width: 100%;
          padding: 0;
          margin-bottom: 8px;
          border-bottom: none;
          .views-field-title-field {
            display: inline-block;
            width: 100%;
            &:before {
              content: "•";
              margin-right: 5px;
              color: #4A4A4A;
              float: left;
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
