.page-blog {
  .panel_sl_content {
    padding: 30px;
    background: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }
  .panel_sl_right {
    padding: 0 10px;
    @media (max-width: $screen-sm) {
      margin-top: 40px;
    }
    .panel-pane {
      margin-bottom: 15px;
      display: inline-block;
      width: 100%;
      padding: 15px;
      background: white;
      border: 1px solid #ececec;
      border-radius: 2px;
      .pane-title {
        border-bottom: 1px solid #ececec;
        padding-bottom: 15px
      }
      .pane-content {
        .views-row {/* Masonry blog posts */
          .pane-blog-panel-pane-8,
          .pane-blog-panel-pane-7,
          .pane-blog-panel-pane-3 {
            display: inline-block;
            width: 100%;
            .pane-term-name,
            .pane-title {
              text-align: center;
              margin-top: 50px;
            }
            .view-display-id-panel_pane_8,
            .view-display-id-panel_pane_7,
            .view-display-id-panel_pane_3 {
              .view-content {
                margin: 0 auto;
              }
              .masonry-item {
                border-radius: 5px;
                width: 320px;
                margin: 25px 0;
                .views-field-field-featured-image {
                  img {
                    border-radius: 5px 5px 0 0;
                  }
                }
                .views-field-body {
                  background-color: white;
                  color: #565656;
                  font-weight: 300;
                  padding: 0 10px 10px 10px;
                  border-radius: 0 0 5px 5px;
                  .field-content {
                    padding-top: 10px;
                    .views-more-link {
                      display: block;
                      margin-top: 10px;
                    }
                  }
                }
                .views-field-title-field { 
                  background: white;
                  padding: 10px;
                  border-bottom: 1px solid #E0E0E0;
                  a {
                    color: #565656;
                    font-size: 16px;
                    font-weight: 700;
                  }
                }
                &:hover {
                  opacity: .86;
                }
                @include transition(250ms opacity ease-out);
              }
            }
          }
          .views-field-title-field {
            &:before {
              content: "•";
              margin-right: 5px;
              color: #4A4A4A;
              float: left;
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .pane-title {
        @include h3();
        .glyphicon {
          display: none;
        }
      }
    }
    .facetapi-facetapi-checkbox-links {
      padding-left: 0;
      padding-right: 0;
      line-height: 1.8em;
      li {
        &:last-child {
          border-bottom: 0;
        }
        input {
          margin-right: .5em;
        }
      }
    }
  }
  .view-id-blog_travel.view-display-id-panel_pane_1 {
    .views-row {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ececec;
      margin-bottom: 40px;
      padding-bottom: 40px;
      &.views-row-last {
        border: 0;
      }
      .views-field-field-featured-image {
        margin-bottom: 25px;
        .blogpost-image {
          position: relative;
          .addtoany_list {
            position: absolute;
            right: 0;
            padding: 10px;
          }
        }
      }
      .views-field-created {
        margin-bottom: 15px;
        .views-label {
          font-weight: 400;
        }
      }
      .views-field-body {
        text-align: justify;
      }
      .views-field-view-node {
        text-align: right;
        margin-top: 25px;
        .btn {
          font-size: 13px;
          width: 140px;
          a {
            color: white;
          }
        }
      }
    }
  }
  .view-featured-properties.view-display-id-panel_pane_2 {
    .views-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #ECECEC;
      padding-bottom: 30px;
      position: relative;
      &.views-row-last {
        border: 0;
        padding-bottom: 0;
      }
      .views-field-field-sp-featured-image {
        width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 6px;
      }
      .views-field-name {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        width: 50%;
        float: right;
      }
      .views-field-field-sp-short-description {
        margin-top: 5px;
        width: 50%;
        float: right;
      }
    }
  }
  .pager-load-more a,
  .roomify-add-button {
    @include button-variant(#FFFFFF, #127BA3, #158CBA);
    border-left: 0;
    border-right: 0;
    &:hover {
      border-left: 0;
      border-right: 0;
    }
  }
  .pane-blog-panel-pane-7 {
    .pane-title {
      display: none;
    }
    .view-display-id-panel_pane_7 {
      .view-content {
        margin: 0 auto;
      }
      .masonry-item {
        border-radius: 5px;
        width: 320px;
        margin: 25px 0;
        .views-field-field-featured-image {
          img {
            border-radius: 5px 5px 0 0;
          }
        }
        .views-field-body {
          background-color: white;
          color: #565656;
          font-weight: 300;
          padding: 0 10px 10px 10px;
          border-radius: 0 0 5px 5px;
          .field-content {
            padding-top: 10px;
            .views-more-link {
              display: block;
              margin-top: 10px;
            }
          }
        }
        .views-field-title-field { 
          background: white;
          padding: 10px;
          border-bottom: 1px solid #E0E0E0;
          a {
            color: #565656;
            font-size: 16px;
            font-weight: 700;
          }
        }
        &:hover {
          opacity: .86;
        }
        @include transition(250ms opacity ease-out);
      }
    }
  }
}

.node-type-blog {
  .panel_sl_content {
    padding: 15px;
    background: white;
    border: 1px solid #ececec;
    border-radius: 2px;
    @media (max-width: $screen-sm-max) {
    	margin-bottom: 30px;
    }
  }
  .roomify-blog-icon {
    display: inline-block;
    float: left;
    font-size: 16px;
    width: 100%;
    .pane-title {
      display: inline-block;
      float: left;
      color: #5D5D5D;
      .glyphicon {
        margin-right: 8px;
        font-size: 14px;
        top: 2px;
      }
    }
    .pane-content {
      display: inline-block;
    }
    &.pane-node-field-blog-categories,
    &.pane-node-field-tags {
      .glyphicon {
        margin-right: 13px;
      }
    }
    &.pane-node-field-blog-area {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 2px 0;
      border-top: 0;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      a {
        text-decoration: underline;
      }
      @media (max-width: $screen-xs) {
        width: 100%;
      }
      .glyphicon {
        color: #0C628F;
        margin-right: 10px;
        top: 5px;
      }
    }
    &.pane-node-field-blog-categories,
    &.pane-node-field-tags {
      width: 100%;
      margin-right: 0;
      font-weight: 300;
      text-transform: uppercase;
      .field-item.even,
      .field-item.odd {
        display: inline-block;
        float: left;
        margin-right: 5px;
        &:after {
          content: "-";
          margin-left: 5px;
        }
      }
      .field-item:last-child {
        &:after {
          content: "";
        }
      }
      .glyphicon {
        margin-right: 10px;
        top: 5px;
      }
    }
    &.pane-node-field-blog-categories {
      float: left;
      width: 100%;
      margin-top: 0;
      padding: 2px 0;
      font-size: 12px;
      display: inline-block;
    }
  }
  .field-name-field-featured-image {
    margin: 25px 0;
  }
  .field-name-body {
    margin: 25px 0;
    line-height: 1.8em;
  }
  .pane-addtoany-addtoany-button {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
  }
  .panel_sl_right {
    padding: 0 10px;
    @media (max-width: $screen-sm) {
      margin-top: 40px;
    }
    .panel-pane {
      margin-bottom: 15px;
      display: inline-block;
      width: 100%;
      padding: 15px;
	    background: white;
	    border: 1px solid #ececec;
	    border-radius: 2px;
	    .pane-title {
	    	border-bottom: 1px solid #ececec;
    		padding-bottom: 15px
	    }
      .pane-content {
        .views-row {
          .views-field-title-field {
            &:before {
              content: "•";
              margin-right: 5px;
              color: #4A4A4A;
              float: left;
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .pane-title {
      	@include h3();
      	.glyphicon {
      		display: none;
      	}
      }
    }
    .pane-blog-panel-pane-10,
    .pane-blog-panel-pane-4 {
      margin-bottom: 20px;
      .pane-title {
        span {
          font-size: 22px;
          margin-right: 20px;
          margin-left: 10px;
        }
      }
      .view-display-id-panel_pane_10,
      .view-display-id-panel_pane_4 {
        .views-row {
          padding: 5px 15px;
          display: inline-block;
          width: 100%;
          a {
            font-weight: 400;
          }
        }
      }
    }
    .pane-featured-properties-panel-pane-1 {
      .view-featured-properties {
        @media (max-width: $screen-md) {
          max-width: 380px;
          margin: 0 auto;
        }
      }
    	.views-field-name {
		    text-transform: uppercase;
    	}
    	.views-field-field-sp-short-description {
    		margin-top: 10px;
    	}
    	.slide__content {
    		margin: 0 auto;
    		display: table;
    	}
    	.slick--view--featured-properties {
    		position: relative;
    	}
    	.views-field-field-sp-featured-image {
        overflow: hidden;
      }
      /* Zoom In #1 */
      .views-field-field-sp-featured-image img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
        margin: 0 auto;
      }
      .views-field-field-sp-featured-image:hover img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    	.slick-next.slick-arrow {
        background: url("../images/arrow_right.png") 0 50% no-repeat;
        background: url("../images/arrow_right.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        right: 12px;
      }
      .slick-prev.slick-arrow {
        background: url("../images/arrow_left.png") 0 50% no-repeat;
        background: url("../images/arrow_left.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        left: 12px;
      }
    }
  }
  .panel-content-bottom {
    .pane-blog-panel-pane-9 {
      display: inline-block;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 30px;
      padding: 20px;
	    background: white;
	    border: 1px solid #ececec;
	    border-radius: 2px;
      .pane-title {
        border-bottom: 1px solid #ececec;
    		padding-bottom: 15px;
    		margin-bottom: 25px;
    		.glyphicon {
    			display: none;
    		}
      }
      .pane-content {
      	margin-bottom: 25px;
      }
      .view-display-id-panel_pane_9 {
        position: relative;
        @media (max-width: $screen-md) {
          max-width: 380px;
          margin: 0 auto;
        }
      }
      .slick-slider {
        padding: 0 55px;
      }
      .slick-slide {
        padding: 15px;
        border: 1px solid #ececec;
        background: #f8f8f8;
        margin-right: 15px;
        min-height: 360px;
        border-radius: 5px;
      }
      .views-field-name {
      	@include h4();
        text-transform: uppercase;
        padding-bottom: 15px;
        margin-bottom: 10px;
        margin-top: 15px;
        text-align: center;
        background: url("../images/line_under_name.png") bottom no-repeat;
      }
      .views-field-field-sp-featured-image {
        overflow: hidden;
        a {
        	display: block;
			    max-width: 380px;
			    margin: 0 auto;
			    overflow: hidden;
        }
      }
      /* Zoom In #1 */
      .views-field-field-sp-featured-image img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
        margin: 0 auto;
      }
      .views-field-field-sp-featured-image:hover img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .views-field-field-sp-short-description-et {
        text-align: center;
      }
      .slick-next.slick-arrow {
        background: url("../images/arrow_right.png") 0 50% no-repeat;
        background: url("../images/arrow_right.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        right: 12px;
      }
      .slick-prev.slick-arrow {
        background: url("../images/arrow_left.png") 0 50% no-repeat;
        background: url("../images/arrow_left.svg") center center no-repeat, linear-gradient(transparent, transparent);
        display: inline-block;
        position: absolute;
        top: calc(45% - 15px);
        width: 30px;
        height: 30px;
        margin-top: 0;
        text-indent: -9999px;
        border: 0;
        background-size: contain;
        left: 12px;
      }
    }
  }
  .view-blog-travel.view-display-id-panel_pane_3 {
    .views-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 25px;
      .views-field-nothing {
        display: inline-block;
        float: left;
        margin-left: 15px;
        width: calc(100% - 155px);
        .title {
          font-size: 18px;
          &:before {
            display: none;
          }
        }
      }
      .views-field-field-featured-image {
        display: inline-block;
        float: left;
        max-width: 140px;
      }
      .views-field-title-field {
        display: inline-block;
        margin-left: 15px;
        font-size: 18px;
        &:before {
          display: none;
        }
      }
    }
  }
}
