.page-conversation-booking,
.page-booking {
  .page-header {
    @include make-xs-column(12);
  }
  .roomify-property-offer {
    display: inline-block;
    width: 100%;
    padding: 10px 25px;
    background: #ff9800;
    border-bottom: 3px solid #d28616;
    color: #fff;
    position: relative;
    min-height: 110px;
    font-weight: 400;
    &:after {
      background: url("../images/offer_checkout.png") 0 50% no-repeat;
      background: url("../images/offer_checkout.svg") center center no-repeat, linear-gradient(transparent, transparent);
      display: inline-block;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0px;
      content: '';
      right: 0;
      border: 0;
      background-size: contain;
      @media (max-width: $screen-sm) {
        width: 40px;
        height: 40px;
      }
    }
    .offer-name {
      font-weight: 400;
      font-size: 20px;
      margin: 10px 0;
    }
    .offer-name,
    .offer-description {
      display: inline-block;
      width: calc(100% - 130px);
      @media (max-width: $screen-sm) {
        width: calc(100% - 50px);
      }
    }
  }
  #roomify-accommodation-booking-current-search-form {
    .current-search-item {
      &.current-search-arrival,
      &.current-search-departure,
      &.current-search-nights,
      &.current-search-price,
      &.current-search-group-size {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(2.4);
        padding: 10px;
        border: 1px solid #E6E6E6;
        border-right: 0;
        min-height: 140px;
        background: white;
        @media (max-width: $screen-md) {
          border-right: 1px solid #E6E6E6;
        }
        label {
          width: 100%;
          text-transform: uppercase;
          text-align: center;
          font-size: 16px;
          margin-top: 10px;
        }
        span {
          text-align: center;
          width: 100%;
          margin-top: 10px;
          display: inline-block;
          font-size: 22px;
          color: black;
          font-weight: 600;
        }
      }
      &.current-search-price {
        border-right: 1px solid #E6E6E6;
        @media (max-width: $screen-md) {
          width: 100%;
        }
        .booking-cost {
          text-decoration: line-through;
          margin-top: 0;
          line-height: 1.4em;
        }
        .offer-cost {
          color: #ff9800;
          margin-top: 0;
          line-height: 1.4em;
        }
      }
      &.current-search-submit {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @media (min-width: $screen-sm) {
          margin-left: 50%;
        }
        @media (min-width: $screen-md) {
          margin-left: 75%;
        }
        margin-top: 40px;
        margin-bottom: 40px;
        button {
          width: 100%;
          @include button-variant(#FFFFFF, #127BA3, #158CBA);
          &::before {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e003";
            margin-right: 10px;
          }
        }
      }
    }
  }
  .featured-image {
    @include make-sm-column(12);
    @include make-md-column(4);
    margin-bottom: 30px;
    img {
      padding: 10px;
      border: 1px solid #ECECEC;
      background: white;
      border-radius: 2px;
    }
  }
  #roomify-accommodation-booking-confirmation-form {
    @include make-sm-column(12);
    @include make-md-column(6);
    text-align: right;
    @media (max-width: $screen-sm) {
      margin-bottom: 40px;
    }
    @media (min-width: $screen-md) {
      margin-left: 16.666666667%;
    }
    button {
      &#edit-enquiry {
        @include button-variant(#FFFFFF, $green, #8cab8a);
      }
      &#edit-submit--2 {
        @include button-variant(#FFFFFF, #127BA3, #158CBA);
      }
    }
    table {
      border: 1px solid #ddd;
      th {
        text-transform: uppercase;
        padding: 12px 8px;
        background-color: #f9f9f9;
        border: 0;
        font-size: 16px;
        font-weight: 400;
      }
      tr {
        background: none;
        td {
          padding-top: 20px;
          font-weight: 400;
          padding-bottom: 20px;
          background: white;
          font-size: 16px;
          border-top: 1px solid #ECECEC;
        }
        td.name {
          border-right: 1px solid #ddd;
        }
      }
      .name {
        padding-left: 25px;
      }
      .price {
        text-align: right;
        .tax,
        .booking-cost {
          text-decoration: line-through;
          margin-right: 10px;
        }
        .offer-tax {
          color: #FF0000;
        }
        .offer-cost {
          color: #ff9800;
        }
      }
      .bold {
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
      }
    }
    #edit-options {
      text-align: left;
      margin-bottom: 0;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 0;
      padding: 0 10px;
      legend {
        float: left;
        background: none;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
      .panel-body {
        padding-top: 0;
        .checkbox {
          margin-bottom: 0;
          margin-top: 5px;
        }
      }
    }
  }
  #edit-options {
    border: 1px solid #ECECEC;
    border-bottom: 0;
    .input-group {
      .form-select {
        width: 120px;
      }
      .input-group-addon {
        display: none;
      }
    }
  }

  #modalBackdrop {
    background: none !important
  }
  #modalContent {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    .ctools-modal-dialog.modal-dialog {
      width: 100% !important;
      height: 100% !important;
      border-radius: 0px;
      max-width: none !important;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.75);
      .modal-header {
        display: none;
      }
      .modal-content {
        height: 100%;
        overflow: auto;
        @media (max-width: $screen-xs-max) {
          overflow: scroll;
        }
      }
      #modal-content {
        margin: 20px auto 0 auto;
        max-height: 100% !important;
        @media (max-width: $screen-xs) {
          width: 100% !important;
          padding: 10px;
        }
        form {
          background: #F8F8F8;
          border-radius: 5px;
          padding: 25px;
          position: relative;
          @media (max-width: $screen-xs) {
            padding: 10px 30px;
          }
          label {
            font-weight: 300;
            width: 100%;
          }
          .form-textarea {
            resize: vertical;
          }
          #children-wrapper {
            .panel-heading {
              background: #127BA3;
              color: #fff;
            }
          }
          .form-item-children {
            select {
              width: 100px;
            }
            .input-group-addon {
              display: none;
            }
          }
          .title {
            font-size: 22px;
            font-weight: 400;
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 10px;
          }
          .close {
            position: absolute;
            top: 12px;
            right: 12px;
            background: url(../images/x.png) center center no-repeat;
          }
          #children-wrapper {
            .form-item {
              display: inline-block;
              min-width: 60px;
              margin-right: 12px;
            }
          }
          .send-request {
            display: inline-block;
            width: 100%;
            padding: 0 15px;
            margin-top: 10px;
          }
        }
      }
    }
    div.modal-content {
      background: none;
      @include box-shadow(none);
    }
  }
}

.page-conversation-booking {
  #roomify-accommodation-booking-current-search-form {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
  }
}
