// Contact Page Styles

.page-contact {
  .region-content,
  .bootstrap-sidebar-left {
    @include make-row();
  }
  .panel {
    background: transparent;
  }
  #roomify-listing-enquiry-form {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    .container-inline-date {
      .date-padding {
        label,
        .help-block {
          display: none;
        }
        .form-type-textfield {
          margin: 0;
        }
      }
      label {
        float: left;
        min-width: 140px;
        margin-right: 10px;
      }
    }
    .form-submit {
      float: right;
    }
    .form-type-textfield {
      label, input {
        display: inline-block;
        width: auto;
      }
      label {
        margin-right: 6px;
        min-width: 140px;
      }
    }
    .container-inline-date {
      display: inline-block;
      width: 50%;
    }
    .form-type-textarea,
    .form-type-textfield {
      margin: 30px 0;
    }
  }
}

.page-contact-us {
  .region-content,
  .bootstrap-one-column {
    @include make-row();
  }
  .panel_sl_content {
    padding: 0;
  }
  .panel {
    background: transparent;
  }
  .entitytype-contact-form {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    .date-combo {
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 0;
      legend {
        background: none;
        border: none;
        width: auto;
        float: left;
        margin: 0;
        padding-left: 0;
        min-width: 100px;
        padding: 0
      }
      .panel-title {
        font-size: 16px;
      }
      .panel-body {
        display: inline-block;
        padding: 0;
        .date-padding {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      .container-inline-date {
        label,
        .help-block {
          display: none;
        }
        .form-item {
          margin-bottom: 0;
        }
      }
    }
    .field-name-field-contact-arrival,
    .field-name-field-contact-departure {
      margin-bottom: 30px;
      @media (max-width: $screen-xs) {
        .date-padding {
          padding-left: 0;
        }
      }
    }
    .field-name-field-contact-arrival,
    .field-name-field-contact-departure,
    .field-name-field-contact-first-name,
    .field-name-field-contact-last-name {
      @include make-sm-column(6);
      margin-bottom: 30px;
      label {
        font-weight: 400;
        font-size: 16px;
      }
    }
    .field-name-field-contact-telephone,
    .field-name-field-contact-mail-address {
      @include make-sm-column(6);
      label {
        font-weight: 400;
        font-size: 16px;
      }
      @media (min-width: $screen-sm) {
        margin-right: 50%;
      }
      margin-bottom: 30px;
      input {
        width: 100%;;
      }
    }
    .field-name-field-booking-request,
    .field-name-field-contact-more-informations {
      @include make-sm-column(12);
      input {
        width: 100%;;
      }
    }
    .form-actions {
      padding-left: 15px;
    }
  }
}
