.page-conversation {
  .page-header {
    display: none;
  }
  .region-content {
    padding-top: 25px;
  }
  @media (min-width: $screen-sm) {
    .row.panel-content-wrapper {
      margin-left: 10%;
      margin-right: 10%;
      padding: 1% 2%;
    }
  }
  #modal-content {
    .btn {
      border-radius: 5px;
    }
    .btn-primary {
      margin-left: 10px;
    }
  }
  .pane-send-message {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    textarea {
      font-size: 18px;
      border-radius: 5px;
      border: 2px solid #CACACA;
    }
    .grippie,
    .control-label {
      display: none;
    }
    .btn {
      float: right;
      border-radius: 5px;
    }
  }
  .pane-activity-stream {
    font-size: 16px;
    background: #FBFBFB;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #F3F1F1;
    margin: 20px 0;
    .pane-content {
      max-width: 968px;
      margin: 50px auto;
      button {
        font-size: 18px;
        border-radius: 5px;
        padding: 5px 20px;
      }
    }
  }
  .entity-message {
    margin-bottom: 15px;
    .message {
      width: 40%;
      padding: 40px 10px 20px 10px;
      background: white;
      border-radius: 8px;
      border: 2px solid #F3F1F1;
      @media (max-width: $screen-sm) {
        width: 80%;
      }
      &.message-right {
        margin-left: 60%;
        text-align: right;
        position: relative;
        background: #FFF898;
        border: 2px solid #FFF34A;
        border-radius: 8px 8px 0 8px;
        &:after {
          border-left: 12px solid #FFF34A;
          border-top: 12px solid transparent;
          border-bottom: 10px solid transparent;
          bottom: -2px;
          content: "";
          position: absolute;
          right: -13px;
          z-index: 999;
          margin-left: -21px;
          width: 0;
          height: 0;
        }
        @media (max-width: $screen-sm) {
          margin-left: 20%;
        }
        .date {
          margin-right: 55px;
          margin-left: 0;
        }
        .text {
          margin-right: 55px;
          margin-left: 0;
        }
        .user-name {
          background: #FFF34A;
        }
        .user-picture {
          position: absolute;
          top: 55px;
          right: 10px;
        }
      }
      &.message-left {
        margin-right: 60%;
        border-radius: 8px 8px 8px 0;
        position: relative;
        &:after {
          border-right: 12px solid #ECECEC;
          border-top: 12px solid transparent;
          border-bottom: 10px solid transparent;
          bottom: -2px;
          content: "";
          position: absolute;
          left: -13px;
          z-index: 999;
          margin-left: 0;
          width: 0;
          height: 0;
        }
        .user-picture {
          position: absolute;
          left: 10px;
          top: 55px;
        }
      }
    }
    .user-name {
      position: absolute;
      top: 0;
      left: 0px;
      border-radius: 6px 6px 0px 0px;
      display: inline-block;
      width: 100%;
      padding-top: 2px;
      padding-left: 10px;
      padding-right: 10px;
      background: #ececec;
      font-weight: 600;
      font-size: 12px;
    }
    .user-picture {
      float: left;
      img {
        border-radius: 20%;
        border: 1px solid #FBFBFB;
      }
    }
    .text {
      margin-left: 45px;
      padding: 10px;
    }
    .date {
      margin-left: 55px;
      font-size: 12px;
    }
  }
  .entity-bat-booking {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #F3F1F1;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    .text {
      float: left;
      line-height: 34px;
    }
    .book-this-button,
    .button {
      float: right;
      .btn {
        border-radius: 5px;
      }
      form {
        float: right;
        #edit-submit {
          padding: 6px 12px;
          font-size: 14px;
          text-transform: uppercase;
          margin-left: 10px;
        }
      }
    }
  }
  .enquiry-item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #F3F1F1;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    .left {
      float: left;
      line-height: 34px;
      width: 100%;
      line-height: 1.5em;
      margin-bottom: 10px;
      @media (min-width: $screen-sm) {
        margin-bottom: 0;
        width: 50%;
        margin-top: 10px;
        text-align: left;
      }
    }
    .right {
      float: right;
      width: 100%;
      margin-bottom: 10px;
      @media (min-width: $screen-sm) {
        margin-bottom: 0;
        width: 50%;
        text-align: right;
      }
      .button {
        display: inline-block;
        .btn {
          border-radius: 5px;
        }
        &.make-offer {
          margin-left: 10px;
        }
      }
    }
  }
  .enquiry {
    font-size: 15px;
    .enquiry-telephone,
    .enquiry-info,
    .enquiry-name,
    .enquiry-email,
    .enquiry-guests,
    .enquiry-children,
    .enquiry-type-ref,
    .enquiry-dep-date,
    .enquiry-arr-date {
      min-height: 120px;
      width: 32%;
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block;
      background: white;
      @media (max-width: $screen-md) {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
      }
      @media (max-width: $screen-sm) {
        width: 100%;
      }
      .label {
        color: #7C7C7C;
        width: 100%;
        text-transform: capitalize;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0;
        font-style: italic;
        font-weight: 300;
      }
      .item {
        text-align: center;
        width: 100%;
        margin-top: 10px;
        display: inline-block;
        font-size: 18px;
        color: black;
        font-weight: 600;
      }
    }
    .enquiry-info {
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
      .label,
      .item {
        text-align: left;
      }
    }
    .enquiry-price {
      width: 100%;
      padding: 10px;
      background: $btn-primary-bg;
      display: inline-block;
      margin: 30px 0;
      font-size: 22px;
      border-radius: 5px;
      border-bottom: 3px solid $btn-primary-border;
      text-align: right;
      color: white;
      .label {
        color: white;
        margin-right: 10px;
        display: inline-block;
        text-transform: uppercase;
      }
      .item {
        display: inline-block;
      }
    }
  }
}

.view-user-conversations {
  .views-row {
    display: inline-block;
    width: 100%;
    background: #f9f9f9;
    padding: 8px;
    margin: 7px 0;
    border-bottom: 1px solid #d3d3d3;
    .views-field-conversation-id {
      float: left;
      margin-right: 15px;
    }
    .views-field-name {
      font-size: 15px;
      margin-top: 25px;
    }
    img {
      border: 2px solid #03a9f4;
    }
  }
}


/* Override bat module modal header styling */
div.ctools-modal-dialog .modal-header {
  background: #F7F7F7;
  color: #777;
  display: block;
  font-weight: 700;
  letter-spacing: normal;
  padding: 0.25em 1em;
  border: none;
  border-radius: 5px;
}
div.ctools-modal-dialog .modal-header .modal-title {
  color: #000;
  font-family: Lato;
  font-weight: 400;
}

/* Add a nice drop shadow. */
#modalContent div.ctools-modal-dialog {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #F7F7F7;
  border: none;
  font-family: 'Lato';
  width: auto !important;
  max-width: 640px !important;
  height: auto !important;
  min-height: auto !important;
  .modal-body {
    max-width: 640px !important;
  }
}
/* Button styling. */
#modalContent div.ctools-modal-dialog input[type=submit],a.button:link,a.button:visited,a.button:hover,a.button:active {
  background: #4E6277;
  margin-top: 14px;
  color: #fff;
}
/* Form labels. */
#modalContent div.ctools-modal-dialog .form-item label {
  width: inherit;
  float: none;
  font-size: 14px;
  font-weight: bold;
}
/* Styling for header. */
#modalContent div.ctools-modal-dialog h2 {
  font-size: 36px;
  font-weight: 300;
  color: #484848;
  margin-bottom: 36px;
}
#modalContent div.modal-content {
  background: #F7F7F7;
  color: #000;
}
#modalContent .ctools-close-modal {
  background: url('../../images/close.png');
  text-indent: -999px;
  overflow: hidden;
  height: 25px;
  width: 25px;
  opacity: 1;
}
