.page-room-type {
  .region-content,
  .bootstrap-sidebar-left {
    @include make-row();
  }
  .panel_sl_content {
    .slide__content {
      position: relative;
      // Description
      .views-field-field-st-gallery-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        text-align: center;
        padding: 20px;
        color: white;
        .title {
          font-size: 22px;
        }
        .alt {
          font-size: 16px;
          color: #999;
          font-style: italic;
        }
        @media (max-width: $screen-xs) {
          display: none;
        }
      }
    }

    .slick-dots {
      padding-top: 40px;
      text-align: center;
      
      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        
        button {
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
          &:before {
            font-size: 30px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: "•";
            text-align: center;
            opacity: 0.25;
            color: black;
            -webkit-font-smoothing: antialiased;
          }
        }
        &.slick-active {
          
          button {
            
            &:before {
              opacity: 1;
            }
          }
        }
      } 
    }
    .slick.slick--view--types {
      position: relative;
      img {
        width: 100%;
      }
    }
    .slick-next.slick-arrow {
      background: url("../images/arrow_right.png") 0 50% no-repeat;
      background: url("../images/arrow_right.svg") center center no-repeat, linear-gradient(transparent, transparent);
      display: inline-block;
      position: absolute;
      top: calc(42% - 15px);
      width: 30px;
      height: 30px;
      margin-top: 0;
      text-indent: -9999px;
      border: 0;
      background-size: contain;
      right: 12px;
      @media (max-width: $screen-sm) {
        display: none !important;
      }
    }
    .slick-prev.slick-arrow {
      background: url("../images/arrow_left.png") 0 50% no-repeat;
      background: url("../images/arrow_left.svg") center center no-repeat, linear-gradient(transparent, transparent);
      display: inline-block;
      position: absolute;
      top: calc(42% - 15px);
      width: 30px;
      height: 30px;
      margin-top: 0;
      text-indent: -9999px;
      border: 0;
      background-size: contain;
      left: 12px;
      @media (max-width: $screen-sm) {
        display: none !important;
      }
    }
    .pane-bat-type-field-st-description {
      margin: 35px 0;
      display: inline-block;
      border-radius: 2px;
      width: 100%;
      background: #ffffff;
      padding: 15px;
      border: 1px solid #ECECEC;
      font-size: 16px;
      .pane-title {
        border-bottom: 1px solid #ececec;
        padding-bottom: 15px;
      }
    }
  }

  // SIDEBAR
  .panel_sl_left {
    padding: 0 30px;
    .panel-pane {
      &.pane-roomify-manage-type {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0 12px;
      }
      // Info
      &.pane-bat-type-field-st-default-price,
      &.pane-bat-type-field-st-max-capacity,
      &.pane-bat-type-field-st-bedrooms,
      &.pane-bat-type-field-st-single-bed,
      &.pane-bat-type-field-st-double-bed,
      &.pane-bat-type-field-st-bathrooms {
        display: inline-block;
        border-radius: 2px;
        width: 100%;
        background: #ffffff;
        padding: 5px 10px;
        font-weight: 400;
        margin-bottom: 8px;
        border: 1px solid #ECECEC;
        .pane-title {
          float: left;
          display: inline-block;
          text-align: left;
          font-weight: 400;
          text-transform: uppercase;
        }
        .pane-content {
          text-align: right;
        }
      }
      // Availability Search
      &.pane-type-availability-search {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        padding: 15px;
        background: white;
        border: 1px solid #ececec;
        border-radius: 2px;
        .pane-title {
          border-bottom: 1px solid #ececec;
          padding-bottom: 15px;
          @include h3();
          .glyphicon {
            display: none;
          }
        }
        .pane-content {
          padding: 15px 10px;
        }
        .bat-date-range {
          .container-inline-date > .form-item { // negate default styles
            margin: 0;
          }

          .container-inline-date .form-item { // negate default styles
            width: 100%;
            margin-bottom: 12px;
          }

          .container-inline-date .form-item input {
            width: 100%;
          }
          .date-padding {
            float: none;
          }

          .control-label {
            color: #353535;
            display: block;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 8px;
          }

          input {
            width: 100%;
            height: 40px;
            border-radius: 0;
            background: #FFFFFF;
            border: 1px solid #D4D3D3;
            &.form-text::-webkit-input-placeholder {
              color: #353535;
            }
            &.form-text::-moz-placeholder {
              color: #353535;
            }
            &.form-text:-moz-placeholder {
              color: #353535;
            }
          }
          .start-date {
            .control-label,
            .form-type-textfield label, // Removed the word "Date"
            .help-block {// Removed the help text "E.g.,
              display: none;
            }
          }

          .end-date {
            .control-label,
            .form-type-textfield label, // Removed the word "Date"
            .help-block {// Removed the help text "E.g., 2016-03-05"
              display: none;
            }
          }
        }
        .form-item-group-size {
          width: 100%;
          margin-bottom: 25px;
          select {
            width: 100%;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            color: #353535;
            font-size: 15px;
          }
        }
        .bat-type-availability-search-submit {
          button {
            width: 100%;
          }
        }
      }
      // Amenities
      &.pane-bat-type-field-st-amenities {
        margin-bottom: 15px;
        margin-top: 25px;
        display: inline-block;
        width: 100%;
        padding: 15px;
        background: white;
        border: 1px solid #ececec;
        border-radius: 2px;
        .pane-title {
          border-bottom: 1px solid #ececec;
          padding-bottom: 15px;
          @include h3();
          .glyphicon {
            display: none;
          }
        }
        .pane-content {
          .field-item.even,
          .field-item.odd {
            margin-bottom: 15px;
            font-size: 15px;
            &:before {
              content: "•";
              margin-right: 6px;
              color: #4A4A4A;
            }
          }
        }
      }
      &.pane-roomify-back-to-property-link {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        a.roomify-back-to-property {
          position: relative;
          display: inline-block;
          width: 100%;
          img {
            border-radius: 2px;
          }
          &:hover {
            opacity: .9;
          }
          .property-title {
            position: absolute;
            width: 100%;
            max-width: 380px;
            display: inline-block;
            bottom: 0;
            font-size: 18px;
            padding: 20px 10px;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border-radius: 0 0 4px 4px
            span {
              top: 2px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
