// Datepicker styles

.ui-datepicker {
  border-radius: 0;
  border: none !important;
  background: #127ba3 !important;
  padding: 0;
  z-index: 9999 !important;
  table {
    margin: 0;
  }
  tbody {
    border: 1px solid #ccc;
    border-top: 0;
  }
  th {
    padding: 1em 0;
    color: #ccc;
    font-size: 13px;
    font-weight: 300;
    border: none !important;
  }
  td {
    background: white !important;
    border: none;
    padding: 0;
    opacity: 1 !important;
    a {
      text-decoration: none;
    }
    .ui-state-default {
      background: transparent;
      border: none;
      text-align: center;
      margin: 0;
      font-weight: 300;
      font-size: 16px;
      padding: 5px 0 !important;
      color: #4CAF50 !important;
      &:hover {
        background: #4CAF50;
        color: #FFF !important;

      }
    }
    a.ui-state-hover,
    a.ui-state-active {
      background: #4CAF50 !important;
      color: #FFF !important;
      border-radius: 50%;
    }
  }
  td.ui-datepicker-unselectable .ui-state-default {
    padding: 5px 0;
    color: #f90a0a !important;
    &:hover {
      background: white;
    }
  }
  .ui-datepicker-title {
    margin-top: .4em;
    margin-bottom: .3em;
    color: #e9f0f4;
  }
  .ui-datepicker-header {
    background: none;
    border: none;
    .ui-state-hover {
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
  }
  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover,
  .ui-datepicker-next,
  .ui-datepicker-prev {
    top: .7em;
    border: none;
  }
  .ui-datepicker-prev-hover {
    left: 2px;
  }
  .ui-datepicker-next-hover {
    right: 2px;
  }
  .ui-datepicker-next span,
  .ui-datepicker-prev span {
    background-image: url("../images/ui-icons_ffffff_256x240.png");
    background-position: -32px 0;
    margin-top: 0;
    top: 0;
    font-weight: 300;
  }
  .ui-datepicker-prev span {
    background-position: -96px 0;
  }

  select.ui-datepicker-month,
  select.ui-datepicker-year {
        font-size: 14px;
    border-radius: 0;
    text-align: center;
    max-height: 25px;
    color: #127ba3;
    font-weight: 400;
  }
}

#ui-datepicker-div {
  @media (max-width: 620px) {
    width: 20em !important;
  }
}
