// Messages Styles

.messages-container {
  @extend .container;

  .messages-row {
    @include make-row();

    .alert {
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}

#better-messages-wrapper {
  #better-messages-default {
    #messages-inner {
      .content {
        .messages.status,
        .messages.error,
        .messages.warning {
          background: white;
          border: 0 !important;
          padding: 20px;
        }
      }
    }
  }
}
