// Messages Styles

.messages-container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  .messages-row {
    @include make-row();

    .alert {
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}

#better-messages-wrapper {
  #better-messages-default {
    #messages-inner {
      .content {
        .messages.status,
        .messages.error,
        .messages.warning {
          background: white;
          border: 0 !important;
          padding: 20px;
        }
      }
    }
  }
}
