#modalBackdrop {
  background: #000000 !important;
  opacity: .7 !important;
  position: fixed !important;
}
#modalContent {
  .ctools-modal-dialog.modal-dialog {
    @media (min-width: $screen-lg) {
      width: 640px !important;
      #modal-content {
        width: 620px !important;
      }
    }
  }
  position: fixed !important;
  top: 30px !important;
  .modal-content {
    overflow: auto;
  }
  .modal-header {
    border: none;
    .modal-title {
      text-align: center;
      font-size: 28px;
      margin: 15px 0;
      color: gray;
    }
  }
}
