.select2-selection.select2-selection--single {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  line-height: 1.42857;
  border: 1px solid #D4D3D3;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
  height: 42px;
  font-family: 'Lato' sans-serif;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 41px;
}
.select2.select2-container {
  font-size: 13px;
}
