.help-icon {
  position: fixed;
  bottom: 11px;
  left: -136px;
  background: #0074bd;
  border-radius: 0px 26px 26px 0px;
  padding: 12px 10px;
  color: white;
  z-index: 20;
  -webkit-transition: 300ms left ease;
  -moz-transition: 300ms left ease;
  -ms-transition: 300ms left ease;
  -o-transition: 300ms left ease;
}

.help-icon:hover {
  background: #1ea4f7;
  left: 0px;
  -webkit-transition: 300ms left ease;
  -moz-transition: 300ms left ease;
  -ms-transition: 300ms left ease;
  -o-transition: 300ms left ease;
}

.help-icon span {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;
  margin-right: 6px;
  vertical-align: middle;
  letter-spacing: 0.6px;
  font-size: 16px !important;
  line-height: 20px !important;
}

.help-icon img {
  vertical-align: middle;
  max-width: 20px;
  height: 20px;
  width: 100%;
}

.help-icon .image {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("../images/info.png");
}
