@import 'variables';
@import 'custom-mixins';

/* COMPONENTS */
@import 'components/agency';
@import 'components/bat_booking';
@import 'components/sidebar-menu';
@import 'components/installation';
@import 'components/bat_type';
@import 'components/roomify_dashboard';
@import 'components/roomify_group';
@import 'components/roomify_properties';
@import 'components/add_ons';

/* Custom font */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);


body {
  h1,h2,h3,h4,h5,h6,p,a,span,strong {
    font-family: 'Lato', sans-serif !important;
  }
  table {
    td, th {
      font-family: 'Lato', sans-serif !important;
      padding: 15px 10px;
    }
    thead {
      tr {
        th {
          background: #545454;
          font-weight: bold;
          color: #fff !important;
          a {
            color: white !important;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 15px;
        }
      }
    }
  }
  .ui-widget table thead th {
    color: white;
    a {
      color: white;
    }
  }
}
.adminimal-theme #branding div.breadcrumb {
  display: none;
}
.adminimal-theme #branding {
  overflow: visible;
}

.adminimal-theme .node-form tr {
  &.even {
    &:hover {
      background-color: #F9F9F9;
    }
  }
  &.odd {
    &:hover {
      background-color: #F9F9F9;
    }
  }
}

#branding h1.page-title {
  @media (max-width: @screen-sm) {
    font-size: 20px !important;
    span {
      font-size: 14px;
    }
  }
}
// Center all administration content and close it in a box.
html, 
body {
  background-color: @lightest-gray !important;
  //@media (max-width: 1140px) {
    // RD-507 Disable narrowest screen width for admin them.
    //width: 1140px !important;
  //}
}
body {
  #console.roomify-admin-messages,
  #page {
    margin-bottom: 40px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(235, 235, 235, 0.45);
  }
  #console.roomify-admin-messages {
    margin-top: 40px;
    padding: 0px;
    border: 0;
  }
  #page {
    .box-shadow(0px 24px 64px 5px rgba(179,179,179,0.45));
  }
  .roomify-primary-local-tasks {
    padding: 0;
    max-width: 1250px;
    display: table;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    margin-top: 40px;

    ul.tabs {
      background: @lightest-gray;
      padding: 0px;
      font-size: 16px;
      li {
        margin-right: 5px;
        background: #F5F5F5;
        border-radius: 5px 5px 0 0;
        position: relative;
        top: 2px;
        &.pushed-right-tab {
          float: right;
          margin-right: 0 !important;
        }
        a {
          color: @gray;
          min-width: 120px;
          text-align: center;
        }
        @media (max-width: @screen-sm) {
          width: 100%;
          text-align: center;
          display: flex;
          a {
            width: 100%;
          }
        }
        &:first-child {
          &.active {
            a {
              left: -2px;
              position: relative;
            }
          }
        }
        &.active {
          border-width: 0px !important;
          background: white;
          outline: none;
          a {
            color: @blue;
            font-weight: 700;
            outline: none;
            border-radius: 5px 5px 0px 0px;
            border: 2px solid rgba(235, 235, 235, 0.45);
            border-bottom: 0px;
            z-index: 10;
            .box-shadow(0px 0px 0px rgb(0,0,0))
          }
        }
      }
    }
  }
  #content-wrapper {
    max-width: @screen-lg;
    margin: 0 auto;
  }
  &.in-maintenance #content {
    width: auto !important;
  }
}

.agency-user-menu {
  display: inline-block;
  float: right;
  margin-right: 50px;
  @media (max-width: @screen-sm) {
    margin-right: 0px;
  }
  a {
    font-size: 29px;
    color: #FFFFFF;
    float: left;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    @media (max-width: @screen-sm) {
      margin: 20px;
      font-size: 20px;
    }
  }
  li ul {
    display: none;
    position: absolute;
    background: #FDFDFD;
    top: 75%;
    right: 10px;
    z-index: 999;
    min-width: 150px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 8px;
    @media (max-width: @screen-xs) {
      top: 100%;
    }
    li {
      list-style: none;
      a {
        color: #333333;
      }
    }
  }
}

body .back-to-site-link  {
  a {
    background: url("../images/homepage.png") no-repeat center center;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    text-indent: -999999px;
    margin-right: 10px;
  }
}
#branding .pane-title {
  margin: 0px;
}

// Better Messages
#better-messages-wrapper {
  #better-messages-default {
    #messages-inner {
      .content {
        .messages.status,
        .messages.error,
        .messages.warning {
          background: white;
          border: 0px !important;
          padding: 20px;
        }
      }
    }
  }
}

fieldset {
  border-top: 3px solid #0074BD !important;
  box-shadow: none !important;
  legend {
    background: none !important;
  }
}

/* Override bat modal close button styling. */
.page-admin-bat {
  #modalContent .ctools-modal-content {
    .modal-content {
      min-height: inherit !important;
    }
    a.close {
      background: none;
      padding-left: 0;
      img {
        display: block;
      }
    }
  }
  div#modalContent div.ctools-modal-content {
    min-width: 500px !important;
    width: auto !important;
    height: auto !important;
    min-height: auto !important;
    overflow: hidden;
  }
  div#modalContent div.ctools-modal-content.roomify-accommodations-booking-form {
    overflow-y: scroll;
  }
}

.roomify-administration-title {
  a {
    color: white;
  }
  span {
    font-size: 20px;
    margin: 0 5px;
    &:before {
      position: relative;
      bottom: 2px;
    }
  }
}

.manualcrop-thumblist .manualcrop-style-thumb {
  width: 100%;
  display: inline-block;
  margin: 5px 0;
  .manualcrop-style-thumb-label {
    margin-bottom: 10px;
  }
  img {
    float: left;
  }
}

.property-gallery-text {
  display: none;
}
.property-gallery-show-text {
  max-width: 200px;
  padding: 6px 0px;
  border-radius: 0;
  border: none;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background: #4d8f46;
  transition: all, 0.3s;
  cursor: pointer;
  &:hover {
    background: #4d8f46;
    opacity: 0.9;
  }
}

.footable-row-detail-inner {
  background: whitesmoke;
  border-bottom: 1px solid #555555;
  .footable-row-detail-row {
    margin: 8px 2%;
    display: inline-block;
    width: 100%;
  }
}

.footable.breakpoint>tbody>tr>td>span.footable-toggle {
  font-family: 'footable' !important;
}

// Mobile theme.
@media (max-width: @screen-sm) {
  .exposed-filters .form-item {
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: @screen-xs) {
  .password-strength {
    margin-bottom: 30px;
  }
  .exposed-filters .form-select {
    display: inline-block;
    width: 95% !important;
  }
  .password-field.form-text,
  .password-confirm.form-text {
    max-width: 320px;
  }
}

.page-admin-people-profiles {
  .view-profiles {
    .views-field-guest-image {
      img {
        width: 100px;
        border-radius: 50%;
        border: 2px solid #0074BD;
      }
    }
  }
}

.page-admin-bat-config-example-content {
  #roomify-accommodation-example-content-manage-form {
    input {
      width: 750px !important;
      background: #f7f7f7;
      float: left;
      display: inline-block;
      margin-right: 25px;
      background-position: 10px center !important;
      background-repeat: no-repeat !important;
      background-size: 200px 300px !important;
      height: 290px;
      text-align: left;
      text-indent: 250px;
      margin-top: 15px;
      border: 2px solid #ECECEC;
      padding: 15px;
      font-size: 26px;
      &:hover {
        background: white;
        .transition(100ms background ease);
      }
      &#edit-multi-property {
        background-image: url('../images/agency.png') !important;
        @media (max-width: @screen-sm) {
          background-image: none !important;
        }
      }
      &#edit-b-and-b {
        background-image: url('../images/locanda.png') !important;
        @media (max-width: @screen-sm) {
          background-image: none !important;
        }
      }
      &#edit-vacation-rental {
        background-image: url('../images/single.png') !important;
        @media (max-width: @screen-sm) {
          background-image: none !important;
        }
      }
      &[type="submit"]:disabled {
        opacity: 0.3 !important;
      }
       @media (max-width: @screen-sm) {
        text-indent: 15px;
        height: auto;
        font-size: 18px;
        width: 80% !important;
      }
    }
  }
}

#roomify-integrations-form {
  .message {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
}
