.locanda-availability-calendar .fc-resource-area tr .fc-cell-content:hover {
  background: #ffffe0;
  cursor: pointer;
}

.locanda-pricing-calendar .fc-resource-area tr .fc-cell-content {
  position: relative;
}
.locanda-pricing-calendar .fc-resource-area tr .fc-cell-content:after {
  content: "edit";
  position: absolute;
  right: 15px;
  top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  display: none;
  color: gray;
}
.locanda-pricing-calendar .fc-resource-area tr.show-edit .fc-cell-content:after {
  display: block;
}

#price-tester div {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}

#roomify-locanda-event-ui-pricing-test-form .form-item-type {
  float: left;
}
#roomify-locanda-event-ui-pricing-test-form .form-item-type select {
  margin: 6px 0px;
}

#roomify-locanda-event-ui-pricing-update-form .form-item-start-date-date label,
#roomify-locanda-event-ui-pricing-update-form .form-item-start-date-date .description,
#roomify-locanda-event-ui-pricing-update-form .form-item-end-date-date label,
#roomify-locanda-event-ui-pricing-update-form .form-item-end-date-date .description {
  display: none;
}

#roomify-locanda-event-ui-pricing-update-form .form-item-start-date .date-padding,
#roomify-locanda-event-ui-pricing-update-form .form-item-end-date .date-padding,
#roomify-locanda-event-ui-pricing-update-form .form-item-start-date .form-item,
#roomify-locanda-event-ui-pricing-update-form .form-item-end-date .form-item {
  float: none;
}

#roomify-locanda-event-ui-pricing-update-form .row1 {
  margin-bottom: 10px;
}

#roomify-locanda-event-ui-pricing-update-form .row1 label {
  display: none;
}

#roomify-locanda-event-ui-pricing-update-form .form-item-day-options label {
  font-weight: normal;
  margin-right: 10px;
}

#roomify-locanda-event-ui-pricing-update-form .form-item-day-options {
  margin-right: 20px;
}

#roomify-locanda-event-ui-pricing-update-form  .bat-date-range {
  margin-right: 20px;
}
#roomify-locanda-event-ui-pricing-update-form  .bat-date-range input {
  text-align: center;
}

#roomify-locanda-event-ui-pricing-update-form .form-item-price input {
  text-align: right;
}

.bat-management-form.bat-event-form .event-details {
  font-size: 14px;
  margin-bottom: 10px;
}

#ui-datepicker-div.rich-popup {
  width: 36em;
}

.ui-state-default {
  text-align: center !important;
}
.ui-datepicker-calendar .price {
  text-align: center;
  font-size: 12px;
  color: #a52a2a;
  background: #ddd;
  height: 20px;
  min-width: 55px;
}

.ui-datepicker-calendar .ui-state-active + .price {
  background: #0074bd;
  color: #effdef;
}
.ui-datepicker-calendar .ui-state-highlight + .price {
  background: #fffce5;
}
